<h2>
  Explorer Archetypes
</h2>
<ul>
  <li>
    <a href="/archetypes/the-alien">
      The Alien
    </a>
  </li>
  <li>
    <a href="/archetypes/the-colonel">
      The Colonel
    </a>
  </li>
  <li>
    <a href="/archetypes/the-diplomat">
      The Diplomat
    </a>
  </li>
  <li>
    <a href="/archetypes/the-fish-out-of-water">
      The Fish Out of Water
    </a>
  </li>
  <li>
    <a href="/archetypes/the-medic">
      The Medic
    </a>
  </li>
  <li>
    <a href="/archetypes/the-muscle">
      The Muscle
    </a>
  </li>
  <li>
    <a href="/archetypes/the-operative">
      The Operative
    </a>
  </li>
  <li>
    <a href="/archetypes/the-scholar">
      The Scholar
    </a>
  </li>
  <li>
    <a href="/archetypes/the-scientist">
      The Scientist
    </a>
  </li>
</ul>
