<footer>
  <div class="cluster">
    <div>
      <!-- <div>
        <a href="/hire-me" class="nav-link">Hire me</a>
      </div>
      <div>
        <a href="/send-me-a-message" class="nav-link">Send me a message</a>
      </div>
      <div>
        <a href="/buy-me-a-coffee" class="nav-link">Buy me a coffee</a>
      </div> -->
    </div>
  </div>
</footer>
