<header>
  <div class="cluster">
    <div class="justify-content:space-between">
      <h1>
        <a href="/" class="nav-link">
          Spacedoor
        </a>
      </h1>
      <nav class="cluster">
        <div>
          <div>
            <a href="/" class="nav-link">Home</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
