<header>
  <div class="cluster">
    <div class="justify-content:space-between">
      <h1>
        <a href="/" class="nav-link">
          Spacedoor
        </a>
      </h1>
      <nav class="cluster">
        <ul class="list-style:none">
          <li>
            <a href="/how-to-play" class="nav-link">How to Play</a>
          </li>
          <li>
            <a href="/archetypes" class="nav-link">Explorer Archetypes</a>
          </li>
          <li>
            <a href="/keeper-info" class="nav-link">Keeper Info</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
