<h2>How to play</h2>
<ul>
  <li>
    <a href="/how-to-play">
      Overview
    </a>
  </li>
  <li>
    <a href="/how-to-play/first-session">
      First session
    </a>
  </li>
  <li>
    <a href="/how-to-play/basic-moves">
      Basic moves
    </a>
  </li>
  <li>
    <a href="/how-to-play/ratings">
      Ratings
    </a>
  </li>
  <li>
    <a href="/how-to-play/creating-your-character">
      Creating your character
    </a>
  </li>
</ul>
