<svg width="32" height="32" viewBox="-4 -4 39 39" aria-hidden="true" focusable="false">
  <circle class="checkbox__bg" cx="16" cy="16" r="16" stroke="currentColor" fill="none" stroke-width="3" />
  <circle class="checkbox__checkmark" cx="16" cy="16" r="6" stroke="transparent" fill="none" stroke-width="4" />
</svg>
