---
title: Dice Roller
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Dice Roller
  </h2>
  <p>
    Use this dice roller to quickly roll common dice combinations, such as
    advantage, disadvantage, and typical weapon damage rolls. Don't forget to
    add your modifiers!
  </p>

  <div class="stack">
    <div>
      <button data-roll="normal">
        Roll Normally (2d6)
      </button>
    </div>
    <div data-results="normal" aria-live="polite"></div>
    <div>
      <button data-roll="advantage">
        Roll with Advantage
      </button>
    </div>
    <div data-results="advantage" aria-live="polite"></div>
    <div>
      <button data-roll="disadvantage">
        Roll with Disadvantage
      </button>
    </div>
    <div data-results="disadvantage" aria-live="polite"></div>
    {% for dice in damageDice %}
    <div>
      <button data-roll="{{ dice }}">
        {{ dice }}
      </button>
    </div>
    <div data-results="{{ dice }}" aria-live="polite"></div>
    {% endfor %}
  </div>
</div>

<script src="/scripts/dice-roller.js"></script>
