---
title: Dice Roller
layout: layouts/sidebar.njk
---

<style>
  .dice, .total {
    border: 1px solid var(--text-color);
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1.8;
  }

  .total {
    border-radius: 50%;
  }

  .not-counted {
    border-color: var(--red);
    color: var(--red);
    opacity: 0.5;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 25 25'> <path d='M0 25 L25 0' stroke='red' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
  }
</style>

<div class="stack">
  <h2>
    Dice Roller
  </h2>
  <p>
    Use this dice roller to quickly roll common dice combinations, such as
    advantage, disadvantage, and typical weapon damage rolls. Don't forget to
    add your modifiers!
  </p>

  <div class="stack">
    <div>
      <button data-roll="normal">
        Roll Normally (2d6)
      </button>
    </div>
    <div data-results="normal" aria-live="polite"></div>
    <div>
      <button data-roll="advantage">
        Roll with Advantage
      </button>
    </div>
    <div data-results="advantage" aria-live="polite"></div>
    <div>
      <button data-roll="disadvantage">
        Roll with Disadvantage
      </button>
    </div>
    <div data-results="disadvantage" aria-live="polite"></div>
    {% for dice in damageDice %}
    <div>
      <button data-roll="{{ dice }}">
        {{ dice }}
      </button>
    </div>
    <div data-results="{{ dice }}" aria-live="polite"></div>
    {% endfor %}
  </div>

</div>

<script src="/scripts/dice-roller.js"></script>
