button,
.button {
  background-color: var(--bg-color);
  border-width: 0.1rem;
  border-color: var(--blue);
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-style: solid;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  border-color: var(--blue-hover);
  color: var(--blue-hover);
}

button.small {
  font-size: var(--h6);
  padding: 0.25rem 0.5rem;
}

button.danger {
  border-color: var(--red);
  color: var(--red);
}

button.danger:hover,
button.danger:focus {
  border-color: var(--red-hover);
  color: var(--red-hover);
}
