label {
  display: block;
  max-width: max-content;
  margin-block-end: 0.35em;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #555555;
  border-radius: 0.25em;
  padding: 0.25em 0.35em;
  line-height: 1.5;
  width: 100%;
  max-width: 60ch;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  margin-block-end: 0.35em;
  font-weight: var(--font-weight);
}

.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-checkbox span {
  line-height: 1;
  margin-inline-start: 0.35em;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  position: absolute;
  width: 1em;
  height: 1em;
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:focus + svg,
.custom-checkbox input[type="radio"]:focus + svg {
  outline: 1px solid var(--blue);
  outline-offset: 2px;
}

.custom-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg,
.custom-checkbox input[type="radio"]:focus:not(:focus-visible) + svg {
  outline: none;
}

.custom-checkbox svg {
  width: 1em;
  height: 1em;
}

.custom-checkbox svg * {
  transition: all 0.1s linear;
}

.custom-checkbox input[type="checkbox"]:checked + svg .checkbox__bg,
.custom-checkbox input[type="radio"]:checked + svg .checkbox__bg {
  fill: var(--bg-color);
}

.custom-checkbox input[type="checkbox"]:checked + svg .checkbox__checkmark {
  stroke: var(--text-color);
}

.custom-checkbox input[type="radio"]:checked + svg .checkbox__checkmark {
  stroke: var(--text-color);
  fill: var(--text-color);
}

@media screen and (-ms-high-contrast: active) {
  .custom-checkbox svg .checkbox__bg {
    stroke: windowText;
  }

  .custom-checkbox input[type="checkbox"]:checked + svg .checkbox__bg {
    fill: windowText;
  }

  .custom-checkbox input[type="checkbox"]:checked + svg .checkbox__checkmark {
    stroke: highlight;
  }
}
