:root {
  --red: #dc143c;
  --red-hover: #a51a35;
  --blue: #2B6CB0;
  --blue-hover: #2C5282;
  --purple: #6B46C1;
  --purple-hover: #553C9A;
  --yellow: #FBBF24;
  --green: #059669;
  --bg-color: #FAFAFA;
  --text-color: #202020;
  --box-shadow-color: #aaaaaa;
  --box-shadow-width: 0.25em;
  --box-shadow-spread: 0;
  --font-weight: 400;
  --header-font-weight: 700;

  --ratio: 1.2;
  --default-size: 1rem;
  --h6: var(--default-size) / var(--ratio);
  --h5: var(--default-size);
  --h4: var(--default-size) * var(--ratio);
  --h3: var(--h4) * var(--ratio);
  --h2: var(--h3) * var(--ratio);
  --h1: var(--h2) * var(--ratio);

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: var(--font-weight);
  font-size: clamp(1rem, 4.5vw, 1.4rem);
  line-height: var(--ratio);
  font-variant-numeric: tabular-nums;
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: #f9463b;
    --red-hover:#EF4444;
    --blue: #60A5FA;
    --blue-hover: #93C5FD;
    --purple: #9F7AEA;
    --purple-hover: #B794F4;
    --yellow: #FBBF24;
    --green: #059669;
    --bg-color: #202020;
    --text-color: #FAFAFA;
    --box-shadow-color: #111111;
    --box-shadow-width: 0.35em;
    --box-shadow-spread: 0;
    --font-weight: 380;
    --header-font-weight: 500;
  }
}

.light-mode {
  --red: #dc143c;
  --red-hover: #a51a35;
  --blue: #2B6CB0;
  --blue-hover: #2C5282;
  --purple: #6B46C1;
  --purple-hover: #553C9A;
  --yellow: #FBBF24;
  --green: #059669;
  --bg-color: #FAFAFA;
  --text-color: #202020;
  --box-shadow-color: #aaaaaa;
  --box-shadow-width: 0.25em;
  --box-shadow-spread: 0;
  --font-weight: 400;
  --header-font-weight: 700;
}

.dark-mode {
  --red: #f9463b;
  --red-hover:#EF4444;
  --blue: #60A5FA;
  --blue-hover: #93C5FD;
  --purple: #9F7AEA;
  --purple-hover: #B794F4;
  --yellow: #FBBF24;
  --green: #059669;
  --bg-color: #202020;
  --text-color: #FAFAFA;
  --box-shadow-color: #111111;
  --box-shadow-width: 0.35em;
  --box-shadow-spread: 0;
  --font-weight: 380;
  --header-font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--header-font-weight);
  max-width: 60ch;
}

h1, .h1 {
  font-size: calc(var(--h1));
}

h2, .h2 {
  font-size: calc(var(--h2));
}

h3, .h3 {
  font-size: calc(var(--h3));
}

h4, .h4 {
  font-size: calc(var(--h4));
}

h5, .h5 {
  font-size: calc(var(--h5));
}

h6, .h6, .small {
  font-size: calc(var(--h6));
}

p,
li {
  max-width: 60ch;
}

li {
  margin-block: calc(var(--default-size) / 4);
}
