.justify-content\:space-between {
  justify-content: space-between;
}

.font-style\:italic {
  font-style: italic;
}

.list-style\:none {
  list-style: none;
}

.padding-inline-start\:1em {
  padding-inline-start: 1em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
