---
title: Spacedoor
description: Rules for playing Spacedoor, a space exploration tabletop RPG adapted from Monster of the week
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ renderData.title or title }} | Spacedoor</title>
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#202020"/>
    <link rel="apple-touch-icon" href="/icons/icon_192.png">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container spread">
      {% include 'header.njk' %}
      <main>
        <article>
          {{ content | safe }}
        </article>
      </main>
    </div>

    {% if env.environment == 'production' %}
      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js');
        }
      </script>
    {% endif %}
  </body>
</html>
