---
title: Spacedoor
description: Rules for playing Spacedoor, a sci-fi space exploration tabletop RPG
---

<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ renderData.title or title }} | Spacedoor</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" href="/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#202020" />
  <link rel="apple-touch-icon" href="/icons/icon_192.png">
  {% include "set-dark-mode.njk" %}
  <style>
    {% include "styles.css" %}
  </style>
</head>

<body>
  <div class="container spread" style="--max-width: 1200px">
    <header>
      <div class="cluster">
        <div class="justify-content:space-between">
          <h1 class="h3">
            <a href="/" class="nav-link">
              Spacedoor
            </a>
          </h1>
          <!-- Anything added to the header should go in a nav > li element -->
          <nav class="cluster">
            <ul class="list-style:none">
              <li data-login-link>
                <a href="/login" class="nav-link">Log In</a>
              </li>
              <li data-account-link hidden>
                <a href="/account" class="nav-link">Account</a>
              </li>
              <li class="menu-link">
                <a href="#0" role="button" class="nav-link" onclick="history.back()">Close</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="center">
        <nav>
          {% include "navigation.njk" %}
        </nav>
      </div>
    </main>

    <footer>
      <div class="center">
        {% include "dark-mode-toggle.njk" %}
      </div>
    </footer>
  </div>

  {% include "firebase.njk" %}
  {% if env.environment == 'production' %}
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
    }
  </script>
  {% endif %}
</body>

</html>
