---
title: Advanced Moves
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Advanced moves
  </h3>
  <p>
    Once your explorer levels up enough and chooses to mark some basic moves as
    advanced, critical successes (12+) are unlocked. These are the rules for
    applying critical successes for each basic move.
  </p>
  <ul>
    <li>
      <strong>Act under pressure</strong>: do what you wanted and something
      extra, or do what you wanted to absolute perfection
    </li>
    <li>
      <strong>Help out</strong>: the person you're helping automatically gets a
      12 on the roll you were helping with
    </li>
    <li>
      <strong>Kick some ass</strong>: choose an option from this list
      <ul>
        <li>
          All explorers get +1 to their next roll
        </li>
        <li>
          You suffer no harm at all
        </li>
        <li>
          You inflict double harm
        </li>
        <li>
          Your attack drives the enemy away
        </li>
      </ul>
    </li>
    <li>
      <strong>Protect someone</strong>: you and whoever you are protecting both
      take no harm. If the target is a bystander, they become an ally
      temporatily
    </li>
    <li>
      <strong>Manipulate someone</strong>: they do what you want right away. If
      the target is another explorer, they must
      <strong>act under pressure</strong> to resist, then the normal rules apply
      if they do what you want
    </li>
    <li>
      <strong>Investigate</strong>: ask the Keeper one additional question
    </li>
    <li>
      <strong>Read a bad situation</strong>: ask the Keeper one additional
      question
    </li>
    <li>
      <strong>Reverse the polarity</strong>: gain an extra benefit on top of the
      chosen effect
    </li>
  </ul>
</div>
