---
title: Basic Moves
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Basic moves
  </h3>
  <p>
    There are a number of basic moves that every character has access to, and
    they will make up the bulk of gameplay. As your characters explore and
    interact with the environment, situations will come up where one of these
    moves will describe what the characters are trying to do.
  </p>
  <p>
    Each move corresponds to one of the ratings on an explorer's dossier.
    Explorers will have bonuses or penalties for each rating, and they will
    apply those to the dice roll. Any roll of 6 or under is a miss, or a fail,
    7-9 is a mixed success, and 10 or higher is a success.
  </p>
  <p>
    These are the basic moves.
  </p>
  <ul>
    <li>
      <strong>Act under pressure</strong>
      &#8212; do something difficult or dangerous
    </li>
    <li>
      <strong>Help out</strong>
      &#8212; help another explorer do something
    </li>
    <li>
      <strong>Investigate</strong>
      &#8212; get relevant information about something
    </li>
    <li>
      <strong>Kick some ass</strong>
      &#8212; fight or attempt to destroy something
    </li>
    <li>
      <strong>Manipulate someone</strong>
      &#8212; get someone to do what you want them to
    </li>
    <li>
      <strong>Protect someone</strong>
      &#8212; save someone from danger
    </li>
    <li>
      <strong>Read a bad situation</strong>
      &#8212; identify threats or do tactical analysis
    </li>
    <li>
      <strong>Reverse the polarity</strong>
      &#8212; do some sci-fi nonsense to get out of a jam
    </li>
  </ul>

  <h4>
    Act under pressure
  </h4>
  <p>
    Roll +Cool while acting under pressure.
  </p>
  <ul>
    <li>
      On 10+, you do what you wanted to
    </li>
    <li>
      On 7-9, the Keeper will give you a worse outcome, a hard choice, or a
      price to pay
    </li>
    <li>
      On a miss, things go real bad
    </li>
  </ul>

  <h4>
    Help out
  </h4>
  <p>
    Roll +Cool when helping another character. Only one player may help at a
    time; bonuses don't stack.
  </p>
  <ul>
    <li>
      On 10+, the player you're helping gets a +1 to their roll
    </li>
    <li>
      On 7-9, they still get +1, but you expose yourself to danger
    </li>
    <li>
      On a miss, they don't get a bonus, and you expose yourself to danger
    </li>
  </ul>

  <h4>
    Investigate
  </h4>
  <p>
    Roll +Sharp when investigating.
  </p>
  <ul>
    <li>
      On 10+, you can ask the Keeper two questions about what you're
      investigating
    </li>
    <li>
      On 7-9, you can ask the Keeper one question about what you're
      investigating
    </li>
    <li>
      On a miss, something bad happens as a result of your investigation. This
      is highly situational and up to the Keeper to decide
    </li>
  </ul>
  <p>
    You are not limited to specific questions, so it is up to the Keeper to
    decide whether to permit a question that you ask. If it would break the game
    or spoil the scenario, the Keeper might ask you for a different question.
  </p>

  <h4>
    Kick some ass
  </h4>
  <p>
    Roll +Tough when kicking ass
  </p>
  <ul>
    <li>
      On 10+, inflict harm based on your weapon's harm rating, take harm based
      on your opponent's harm rating, and choose a benefit from the Extra
      Effects list
    </li>
    <li>
      On 7-9, inflict harm based on your weapon's harm rating, and take harm
      based on your opponent's harm rating
    </li>
    <li>
      On a miss, take harm based on your opponent's harm rating, while dealing
      them no harm
    </li>
  </ul>

  <h5>
    Extra Effects
  </h5>
  <ul>
    <li>
      Get a +1 bonus on your next roll, or give the +1 bonus to another
      character
    </li>
    <li>
      Inflict more harm (+1)
    </li>
    <li>
      Suffer less harm (-1)
    </li>
    <li>
      Force them where you want them
    </li>
  </ul>

  <h4>
    Manipulate someone
  </h4>
  <p>
    Roll +Charm while manipulating someone
  </p>
  <ul>
    <li>
      On 10+, they do what you want, or they tell you the minimum it would take
      for them to do it (or if there's no way they'd do it)
    </li>
    <li>
      On 7-9, they'll do it, but only if you do something for them first, or
      they'll tell you what it would take for them to do it
    </li>
    <li>
      On a miss, they get angry or offended and won't do it
    </li>
  </ul>

  <p>
    If you are manipulating another player's character, these rules apply:
  </p>
  <ul>
    <li>
      On 10+, if they do it, they mark experience and get +1 on their next roll
    </li>
    <li>
      On 7-9, if they do it, they mark experience
    </li>
    <li>
      On a miss, the player decides how to react to the manipulation attempt,
      and they mark experience if they <em>don't</em> do what you wanted
    </li>
  </ul>

  <h4>
    Protect someone
  </h4>
  <p>
    Roll +Tough when protecting someone
  </p>
  <ul>
    <li>
      On 10+, you take harm instead of the target, and you can choose an option
      from the Extra Effects list
    </li>
    <li>
      On 7-9, you take harm instead of the target
    </li>
    <li>
      On a miss, you make things worse
    </li>
  </ul>

  <h5>
    Extra Effects
  </h5>
  <ul>
    <li>
      Suffer less harm (-1)
    </li>
    <li>
      All impending danger is focused on you now
    </li>
    <li>
      You inflict harm on the opposition
    </li>
    <li>
      You hold the opposition back
    </li>
  </ul>

  <h4>
    Read a bad situation
  </h4>
  <p>
    Roll +Sharp when reading a bad situation
  </p>
  <ul>
    <li>
      On 10+, you may ask the Keeper 2 questions relevant to the bad situation
    </li>
    <li>
      On 7-9, you may ask the Keeper 1 question relevant to the bad situation
    </li>
    <li>
      On a miss, you misread the situation or miss important details
    </li>
  </ul>

  <p>
    Like investigating, the questions you ask are subject to the Keeper's
    discretion. If you act on information from this roll, you get a +1 bonus
    to any rolls while acting on that information.
  </p>

  <h4>
    Reverse the polarity
  </h4>
  <p>
    Roll +Technobabble when reversing the polarity
  </p>
  <ul>
    <li>
      On 10+, it works, and you get to choose your effect
    </li>
    <li>
      On 7-9, it works imperfectly, choose an effect and a glitch
    </li>
    <li>
      On a miss, something goes terribly wrong
    </li>
  </ul>

  <h5>
    Effects
  </h5>
  <ul>
    <li>
      Inflict harm (1 harm, ignore armor, obvious)
    </li>
    <li>
      Power up a weapon. It gets +1 harm and the ability to stun targets
    </li>
    <li>
      Make a hasty escape
    </li>
    <li>
      Place a shield between you and the opposition, or around an object,
      person, or structure
    </li>
    <li>
      Trap a specific person or creature
    </li>
    <li>
      Remove a parasite without harming the host (teleportation)
    </li>
    <li>
      Summon an ally to your location (teleportation or hyperspace)
    </li>
    <li>
      Interface with an alien technology that is incompatible with your
      technology
    </li>
    <li>
      Travel a few seconds back in time
    </li>
    <li>
      Heal 1 harm from an injury, cure a disease, or neutralize a poison
    </li>
  </ul>

  <h5>
    Glitches
  </h5>
  <ul>
    <li>
      The effect is weakened
    </li>
    <li>
      The effect's duration is shortened
    </li>
    <li>
      You take 1 harm, ignore armor
    </li>
    <li>
      Draw immediate, unwanted attention
    </li>
    <li>
      It has a problematic side effect
    </li>
  </ul>

  <p>
    Reversing the polarity is a prime example of making up some sci-fi nonsense
    to solve a problem, so the Keeper may impose restrictions. They may also
    fully disallow something that is too extreme or game-breaking. Here are
    some restrictions that they may apply to allow this move.
  </p>
  <ul>
    <li>
      You need hard-to-find materials for it to work
    </li>
    <li>
      It will take a specific amount of time before this will work (you can't do
      it right away)
    </li>
    <li>
      This requires your complete focus. Getting hurt or taking another move
      will force you to start over
    </li>
    <li>
      You need to have a solid understanding of the tech you're working with
    </li>
    <li>
      You need help from someone else
    </li>
    <li>
      The items used will be destroyed as a result of the effect (one shot)
    </li>
  </ul>

  <p>
    If what you are attempting to do is outright impossible, even by sci-fi
    standards, the Keeper may impose even more restrictions at their discretion.
    The restrictions should be possible within the universe of the game, but it
    should be appropriately difficult to meet the requirements, with plenty of
    chances for failure along the way.
  </p>
</div>
