---
title: Basic Moves
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Basic Moves
  </h3>
  <p>
    There are a number of basic moves that every character has access to, and
    they will make up the bulk of gameplay. As your characters explore and
    interact with the environment, situations will come up where one of these
    moves will describe what the characters are trying to do.
  </p>
  <p>
    Each move corresponds to one of the ratings on an explorer's dossier.
    Explorers will have bonuses or penalties for each rating, and they will
    apply those to the dice roll. Any roll of 6 or under is a miss, or a fail,
    7-9 is a mixed success, and 10 or higher is a success.
  </p>
  <p>
    These are the basic moves.
  </p>
  <ul>
    <li>
      <strong>Act under pressure</strong>
      &#8212; do something difficult or dangerous
    </li>
    <li>
      <strong>Help out</strong>
      &#8212; help another explorer do something
    </li>
    <li>
      <strong>Investigate</strong>
      &#8212; get relevant information about something
    </li>
    <li>
      <strong>Kick some ass</strong>
      &#8212; fight or attempt to destroy something
    </li>
    <li>
      <strong>Manipulate someone</strong>
      &#8212; get someone to do what you want them to
    </li>
    <li>
      <strong>Protect someone</strong>
      &#8212; save someone from danger
    </li>
    <li>
      <strong>Read a bad situation</strong>
      &#8212; identify threats or do tactical analysis
    </li>
    <li>
      <strong>Reverse the polarity</strong>
      &#8212; do some sci-fi nonsense to get out of a jam
    </li>
  </ul>
</div>
