---
title: Creating Your Explorer
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Creating your explorer
  </h3>
  <p>
    Once you have decided which explorer archetype you'd like to play as, you
    can follow the instructions to fill out your dossier. The dossier acts both
    as a marker of the status of your explorer, as well as a reference for what
    that explorer is able to do.
  </p>
  <p>
    Before, or maybe during, the first session, you can choose your ratings,
    archetype-specific moves, gear, and any other traits listed in the dossier.
    Once you get to the Introductions section, wait until the first session,
    where the Keeper will walk the players through the process. At that point,
    you will be describing your explorer's look, pronouns, and any other details
    that you want to share.
  </p>
  <p>
    After that, each player will choose a History for other players to set up
    certain dynamics within the team. You can choose for explorers to be
    mentors, relatives, nemeses, or any of the options listed in your dossier.
  </p>
  <p>
    Your dossier should be pretty clear about how to build your explorer, but
    if you are confused about any of the options or want to customize things,
    you can work with your Keeper to figure out something that works for your
    game.
  </p>
</div>
