---
title: First Session
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}

  <h3>
    First session
  </h3>
  <p>
    In the first session of the game, the players will create their explorers
    and play through the first scenario created by the Keeper. Some of the
    explorer creation can be done ahead of time, but it's best to collaborate
    and make sure that your team makes sense for the type of game you want to
    play.
  </p>
  <p>
    Before the first session, players may choose their archetypes and fill out
    their dossiers up to the Introductions section, or you may want to do the
    whole explorer creation process during the first session. The choice is
    yours, but the Introductions and History sections need to be filled out
    collaboratively. Each player will describe their explorer and choose options
    that inform the relationships between them and the other explorers.
  </p>
  <p>
    The core explorer archetypes are as follows:
  </p>
  <ul>
    <li>
      <a href="/archetypes/the-alien">
        The Alien
      </a>
      &#8212; expert in interstellar politics, has unique physiology
    </li>
    <li>
      <a href="/archetypes/the-colonel">
        The Colonel
      </a>
      &#8212; expert in tactics, natural leader
    </li>
    <li>
      <a href="/archetypes/the-diplomat">
        The Diplomat
      </a>
      &#8212; expert in resolving tense situations and gaining allies
    </li>
    <li>
      <a href="/archetypes/the-fish-out-of-water">
        The Fish Out of Water
      </a>
      &#8212; expert in nothing, doesn't belong here
    </li>
    <li>
      <a href="/archetypes/the-medic">
        The Medic
      </a>
      &#8212; expert in medicine, both for trauma and disease
    </li>
    <li>
      <a href="/archetypes/the-muscle">
        The Muscle
      </a>
      &#8212; expert in hand-to-hand combat, quick healer
    </li>
    <li>
      <a href="/archetypes/the-operative">
        The Operative
      </a>
      &#8212; expert in covert operations, explosives, and violence
    </li>
    <li>
      <a href="/archetypes/the-scholar">
        The Scholar
      </a>
      &#8212; expert in languages, cultures, and history
    </li>
    <li>
      <a href="/archetypes/the-scientist">
        The Scientist
      </a>
      &#8212; expert in math, physics, chemistry, and biology
    </li>
  </ul>

  <h4>
    Custom archetypes
  </h4>
  <p>
    You don't need to stick to this list of archetypes if you have a cool idea.
    Talk to your Keeper, and see if you can work together to create a new
    archetype that would be a good fit for your game. You can decide what
    special moves, gear, or other traits that the explorer should have, as long
    as it fits loosely with the rules of the game.
  </p>
</div>
