---
title: Gear
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Gear
  </h3>
  <p>
    All characters have standard-issue gear that makes sense for your game. That
    could include light armor, a sidearm, or anything that an exploration team
    would always want to have on hand. Your Keeper should specify what everybody
    automatically has before you start choosing gear for your character.
  </p>

  <h4>
    Getting new gear
  </h4>
  <p>
    You can buy anything that's common enough that a normal person could just
    buy. For anything rarer, you'll need to do something special to aquire it.
    Your society is likely to get more technologically advanced throughout the
    course of the game, so new gear may be unlocked as you discover alien
    weapons, trade with allies, steal from enemies, or develop new technology.
  </p>

  <h4>
    Weapons
  </h4>
  <p>
    Each weapon will specify how much harm it does, and it will list any tags
    that apply to it. Tags describe how the weapon works, including range and
    any special abilities or attributes. Here's a list of tags and what they
    mean.
  </p>
  <ul>
    <li>
      <strong><em>n</em> harm</strong>: how much harm the weapon inflicts
    </li>
    <li>
      <strong>area</strong>: can hit multiple targets
    </li>
    <li>
      <strong>balanced</strong>: easy to wield and keep your grip on
    </li>
    <li>
      <strong>barrier</strong>: anything crossing through it takes harm, acts as
      armor for attacks that pass through it
    </li>
    <li>
      <strong>close</strong>: effective at short range
    </li>
    <li>
      <strong>energy</strong>: uses energy rather than mass to damage targets
    </li>
    <li>
      <strong>far</strong>: effective at long range
    </li>
    <li>
      <strong>fire</strong>: sets things on fire
    </li>
    <li>
      <strong>forceful</strong>: pushes things around, forces things where you
      want them
    </li>
    <li>
      <strong>hand</strong>: effective within arms' reach
    </li>
    <li>
      <strong>heavy</strong>: heavy and hard to wield
    </li>
    <li>
      <strong>ignore armor</strong>: bypasses armor, dealing full harm to
      targets
    </li>
    <li>
      <strong>innocuous</strong>: doesn't draw attention
    </li>
    <li>
      <strong>intimate</strong>: effective at extremely close range
    </li>
    <li>
      <strong>loud</strong>: draws attention when used
    </li>
    <li>
      <strong>many</strong>: small enough that you can carry a bunch of these
    </li>
    <li>
      <strong>messy</strong>: spreads blood and gore around
    </li>
    <li>
      <strong>quick</strong>: easy to prepare and attack with
    </li>
    <li>
      <strong>reload</strong>: needs to be reloaded periodically, has limited
      ammunition
    </li>
    <li>
      <strong>restraining</strong>: successful attacks restrain the victim
    </li>
    <li>
      <strong>slow</strong>: takes a while to prepare and attack with
    </li>
    <li>
      <strong>small</strong>: easy to conceal
    </li>
    <li>
      <strong>stun</strong>: knocks victims out or slows them down without
      killing them
    </li>
    <li>
      <strong>unreliable</strong>: requires constant maintenance, or it stops
      working
    </li>
    <li>
      <strong>useful</strong>: has other uses beside violence
    </li>
    <li>
      <strong>valuable</strong>: antique or made of valuable materials
    </li>
    <li>
      <strong>volatile</strong>: dangerous or unstable, might blow up in your
      hand
    </li>
  </ul>

  <h5>
    Improvised and custom weapons
  </h5>
  <p>
    For any weapon not specified by the rules, you can create a new one by
    deciding how much harm it deals and what tags apply to it. When choosing
    harm, you can use these guidelines.
  </p>
  <ul>
    <li>
      0 harm: hardly better than unarmed
    </li>
    <li>
      1 harm: sharp or heavy
    </li>
    <li>
      2 harm: is explicitly dangerous
    </li>
    <li>
      3 harm: meant for killing
    </li>
    <li>
      4 harm: overkill for normal people
    </li>
  </ul>

  <h4>
    Armor
  </h4>
  <p>
    Armor reduces harm done to the target by the amount specified by the armor
    rating. 1 armor includes light armor, like leather jackets, bulletproof
    vests, and any other light protection. 2 armor would be for things like
    military body armor, riot gear, or anything bulky and significant. It's rare
    to give characters armor beyond that, except for short term situations where
    they're in a fortified position.
  </p>

  <h4>
    Other gear
  </h4>
  <p>
    There aren't any specific rules for how to manage custom gear or vehicles.
    It's up to the Keeper and the players to decide what makes sense for their
    game. Decide how the gear works and what benefits it gives the users, such
    as +1 to certain rolls when using the item or vehicle.
  </p>
</div>
