---
title: Harm
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Harm
  </h3>
  <p>
    When you take harm, your Keeper will describe what happens and how severe
    your injuries are. Mark the number of boxes on your dossier according to
    how much harm you took. If you have armor, that may reduce the amount that
    you take. There will be additional effects depending on how much harm you
    take from an attack that your Keeper will describe.
  </p>
  <ul>
    <li>
      Light (0 harm) wounds are superficial and only cause momentary problems
    </li>
    <li>
      Moderate (1-3 harm) wounds have minor, short term effects
    </li>
    <li>
      Serious (4-7 harm) wounds are serious and will get worse unless treated.
      Mark the Unstable box
    </li>
    <li>
      Lethal (8 or more harm) wounds will kill you
    </li>
  </ul>

  <p>
    Wounds stack over time, so if you only took a series of 1 harm injuries, but
    you have 4 harm marked on your dossier, you would be considered unstable.
  </p>
  <p>
    Your opponents may be harder to kill than you, or they may be especially
    vulnerable. It depends on armor, physiology, and any weaknesses they may
    have. It's largely up to your Keeper when designing enemies, but generally
    speaking, henchmen should be a little bit easier to kill than you, but their
    bosses should be harder to kill.
  </p>

  <h4>
    Healing
  </h4>
  <p>
    Light wounds don't require healing and will go away naturally. Moderate
    wounds will improve by 1 harm after a night's rest or first aid. Anybody can
    give first aid, but first aid may only be applied to the same wound once.
  </p>
  <p>
    Serious wounds require treatment to remove the Unstable condition. If left
    untreated for too long, your Keeper will tell you to mark off more harm.
    Treatment requires a healing move from another character, time at an
    infirmary, a trip to the doctor or emergency room, or the use of healing
    technology. Your Keeper can tell you what would be required to treat a
    serious wound.
  </p>

  <h5>
    Healing between scenarios
  </h5>
  <p>
    All wounds heal over time once a scenario has been completed. If there's
    been enough time to rest up, all your characters will be healed completely.
    If there was no chance for rest between scenarios, heal 1 harm.
  </p>
</div>
