---
title: How to Play
layout: layouts/base.njk
---

<div class="stack">
  <h2>How to play</h2>
  <p>
    This game is based on
    <a href="https://www.evilhat.com/home/monster-of-the-week/">Monster of the Week</a>,
    which is itself based on the
    <a href="http://www.apocalypse-world.com/">Apocalypse World RPG</a>, so if
    you're familiar with those games, or any other games that are Powered by
    the Apocalypse, it should feel familiar.
  </p>
  <p>
    When you play this game, most of you will create explorers, people with
    elite skills that will travel to worlds throughout the galaxy, making first
    contact with alien societies, gathering new technologies, and guarding their
    home planet from alien threats.
  </p>
  <div>
    <p>
      One player will be the Keeper (short for Keeper of the Mysteries of the
      Universe). They will be in charge of:
    </p>
    <ul>
      <li>
        Creating scenarios for explorers to navigate
      </li>
      <li>
        Describing environments, aliens, societies, and technologies
      </li>
      <li>
        Portraying any characters that the explorers meet
      </li>
    </ul>
  </div>
  <p>
    Everyone else will work together to achieve whatever objectives the scenario
    demands. The explorers are not normal people &#8212; they are the
    <em>most qualified</em> people in the world to do this kind of work. Their
    actions define their home planet's relationship to the rest of the universe.
  </p>

  <h3>What you'll need</h3>
  <div>
    <p>
      This game will work best with 3-5 people, with one of them acting as the
      Keeper. Players will need:
    </p>
    <ul>
      <li>
        A dossier (fancy name for their character sheet)
      </li>
      <li>
        Pencils and paper, or a notebook
      </li>
      <li>
        A pair of 6 sided dice (you can get by with a single die)
      </li>
    </ul>
  </div>
  <p>
    The Keeper will need a reference sheet, or at least some notes about the
    scenario that they've created. They may also want to have some character
    names ready for any NPCs that the players end up meeting.
  </p>

  <h3>What you need to know</h3>
  <p>
    The Keeper should read the recommendations for creating scenarios and they
    should learn the basic moves that players can use.
  </p>
  <p>
    Players should get familiar with the basic moves and ratings, and then they
    should figure out which archetype they would like to play as. Most of the
    rules of the game are included in dossiers, so you can skip to character
    creation if you're already familiar with roleplaying games.
  </p>

  <h3>Making your own rules</h3>
  <p>
    This game is a customization of a customization. It's fair to say that
    modifying things to match your own preferences is encouraged. If you have an
    awesome idea that doesn't fit completely within these rules, make something
    up! It's all made up anyway, so you might as well make it as fun as you can.
  </p>
</div>
