---
title: Leveling Up
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Leveling up
  </h3>
  <p>
    Whenever you roll a 6 or lower, you mark experience on your dossier. Some
    moves will also tell you to mark experience. Once all 5 experience boxes are
    marked, you level up. At that point, follow the instructions in your dossier
    to choose an improvement, then erase the experience marks. You can only take
    each improvement once, so mark it off once you take it. Once you've leveled
    up five times, you can start taking advanced improvements.
  </p>
  <h4>
    End of session experience
  </h4>
  <p>
    At the end of each session, your Keeper will ask the following questions and
    then give you experience based on how well your team did.
  </p>
  <ul>
    <li>
      Did we conclude the current scenario?
    </li>
    <li>
      Did we get any important resources, gain any allies, or save people from
      a dangerous situation?
    </li>
    <li>
      Did we learn something new and important about the universe?
    </li>
    <li>
      Did we learn something new and importand about one of the explorers?
    </li>
  </ul>
  <p>
    If you can answer yes to one or two questions, each explorer will get 1
    experience point. If you can answer yes to three or four questions, each
    explorer will get 2 experience points.
  </p>

  <h4>
    Improvements
  </h4>
  <p>
    Here are the details for the different types of improvements.
  </p>

  <h5>
    Get +1 to a specific rating (max +x)
  </h5>
  <p>
    Permanently improve the specified rating up to the limit. If you are already
    at the maximum rating, you can't choose this option.
  </p>

  <h5>
    Take another move from your dossier
  </h5>
  <p>
    Choose another move from your dossier that you haven't already chosen.
  </p>

  <h5>
    Take a move from another dossier
  </h5>
  <p>
    Choose a move from a different dossier that makes sense for your explorer.
    For example, a Scholar can take a move from the Muscle dossier if they want
    to get better at hand-to-hand combat.
  </p>

  <h5>
    Gain an ally/gain a team
  </h5>
  <p>
    Decide to either add a new member to the team that will be controlled by the
    Keeper, or add another team that can act as backup or support. An ally can
    be someone you've already met, or they can be somebody completely new.
    Allies can fit into the following categories or you can define their
    relationship in a way that works for your game.
  </p>
  <ul>
    <li>
      Subordinate: follows your exact instructions
    </li>
    <li>
      Lieutenant: follows the spirit of your instructions
    </li>
    <li>
      Bodyguard: intercepts danger
    </li>
    <li>
      Backup: stands with you, offers cover fire
    </li>
    <li>
      Comrade: behaves as an equal, helps fill a gap in your team's skills
    </li>
  </ul>
  <p>
    Teams are more independent, and it will be your call when to summon them to
    help. You can either bring them with you at the start of a mission, or you
    can call them for backup if things start going sideways. It needs to be at
    least plausible that you could contact them, and that they could get to you
    to help, though, so try to be prepared.
  </p>

  <h5>
    Set up a secondary base
  </h5>
  <p>
    In case your home base is inaccessible or under attack, you can go here to
    regroup. Decide how you established the base and pick three options from the
    Base Improvements list.
  </p>

  <h5>
    Add an option to your home base
  </h5>
  <p>
    Select a new option for your home base from the Base Improvements list.
  </p>

  <h5>
    Archetype-specific improvements
  </h5>
  <p>
    Each explorer archetype has improvements that are specific to them. They
    will describe the effects of choosing those improvements in your dossier.
  </p>

  <h4>
    Advanced Improvements
  </h4>
  <p>
    After you level up five times, you can choose advanced improvements for your
    explorer. You can still choose basic improvements if you want, but these
    become available as well.
  </p>

  <h5>
    +1 to any rating (max +3)
  </h5>
  <p>
    You can choose to apply this to any rating that is under the maximum limit.
  </p>

  <h5>
    Change your explorer to a new archetype
  </h5>
  <p>
    Your ratings and history stay the same, but you can change your moves to the
    new archetype. You can keep anything that is intrinsic to your explorer, or
    you can start from scratch and choose moves as though you're creating a new
    explorer.
  </p>

  <h5>
    Make a second explorer
  </h5>
  <p>
    Create a new explorer to play. You can play both explorers at the same time
    or you can take turns with them if you like. Create the explorer the same
    way you did your first one, except for the History part. You can only choose
    a History for explorers that you, the player, don't control.
  </p>

  <h5>
    Retire
  </h5>
  <p>
    You've done what you set out to do, or maybe you're getting too old for
    this. Your explorer retires to safety, and you hand over control of them to
    the Keeper. At your discretion, this explorer can come out of retirement if
    needed, even if only for one last mission.
  </p>

  <h5>
    Erase one Luck mark
  </h5>
  <p>
    You've gotten some of your Luck back, buying back some time and safety.
  </p>

  <h5>
    Mark two of your basic moves as advanced
  </h5>
  <p>
    Some of your basic moves can now give you critical successes. On a 12+ roll,
    the result is even better than before.
  </p>
</div>
