---
title: Playing a Session
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Playing a session
  </h3>
  <p>
    This is an overview of what a typical session might look like. Your group
    may play it a little differently, but here are the basics of gameplay.
  </p>

  <h4>
    First session only
  </h4>
  <ul>
    <li>
      Create characters and come up with a team concept
    </li>
    <li>
      Go around the group and introduce your characters to each other
    </li>
    <li>
      Go around the group again, this time choosing history options for the
      other characters
    </li>
    <li>
      Work out a basic backstory that explains why these people are working
      together
    </li>
    <li>
      Do the things you would do in any normal session
    </li>
    <li>
      Decide at the end whether there are any things you want to change about
      your character or the world. You don't want to be locked into a concept
      that won't be fun for you
    </li>
  </ul>

  <h4>
    Every session or scenario
  </h4>
  <ul>
    <li>
      Do any start-of-scenario moves that your character does before beginning
      any mission
    </li>
    <li>
      Get a briefing from the Keeper and start planning your first moves
    </li>
    <li>
      Investigate or explore the world, gathering clues, talking to people, or
      looking for resources
    </li>
    <li>
      Work to achieve whatever goal you've set out to accomplish, overcoming
      obstacles along the way
    </li>
    <li>
      Whenever you roll a 6 or less, or a move tells you to do so, mark
      experience
    </li>
    <li>
      Level up if you mark your fifth experience box. Choose your improvements,
      then erase your experience marks
    </li>
    <li>
      Resolve the scenario in whatever way makes sense (killing bad guys,
      setting up a mine on an alien planet, gaining powerful allies, etc.)
    </li>
    <li>
      Answer end-of-scenario questions and mark experience accordingly
    </li>
  </ul>
</div>
