---
title: Ratings
layout: layouts/base.njk
---

<div class="stack">
  {% include "how-to-play-nav.njk" %}
  <h3>
    Ratings
  </h3>
  <p>
    Each explorer has 5 ratings in their dossier. These determine how skilled
    they are at certain moves. The ratings range from -1 to +3, with -1 being
    bad, and +3 being amazing. These are the ratings:
  </p>
  <ul>
    <li>
      <strong>Cool</strong>
      – act under pressure, help out
    </li>
    <li>
      <strong>Tough</strong>
      – kick some ass, protect someone
    </li>
    <li>
      <strong>Charm</strong>
      – manipulate someone
    </li>
    <li>
      <strong>Sharp</strong>
      – investigate, read a bad situation
    </li>
    <li>
      <strong>Technobabble</strong>
      – reverse the polarity
    </li>
  </ul>
  <p>
    Explorers start with each rating at 0, then they can apply bonuses or
    penalties to the ratings that make sense for their explorer. When creating
    a new explorer, the maximum any rating can be is +2, and the minimum is -1.
    It is up to players to decide which ratings to boost or decrease, but the
    sum of their ratings must be +3 at the end.
  </p>
  <p>
    For example, let's say that Jeff is creating a Scholar explorer. Since this
    is not a combat-heavy explorer, Jeff decides to take 0 Cool, -1 Tough,
    +2 Charm, +2 Sharp, and 0 Technobabble. He figures that he should double
    down on Charm and Sharp since he wants to be able to understand new cultures
    and be able to convince them not to attack his team. He applies a penalty to
    Tough since he doesn't think his explorer would be good at fighting or
    protecting people. Since 0 - 1 + 2 + 2 + 0 = 3, his explorer
    meets the requirements, and he's ready to continue building his explorer.
  </p>
  <p>
    Each archetype has different abilities that use these ratings, so make sure
    you see which ones are most useful for the given archetype before choosing
    your bonuses or penalties.
  </p>
</div>
