---
title: Weapons
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>Weapons</h2>
  <p>
    You may equip 2 weapons to use on each mission. Some weapons are available
    for all characters to use, but others have required modifier bonuses. For
    example, if your Cool bonus is only +1, you can't use a weapon that requires
    a +2 Cool bonus. Some weapons also have limitations to watch out for, so
    choose carefully.
  </p>

  {% for weapon in weapons %}
    <div>
      <div class="stack" style="--stack-space: 0.5rem">
        <h4>
          {{ weapon.Name }}
        </h4>
        {% if weapon.Modifier %}
          <p>
            <small>
              +{{ weapon['Required Bonus'] }} {{ weapon.Modifier }}{% if weapon.Restrictions %}, {{ weapon.Restrictions }}{% endif %}
            </small>
          </p>
        {% endif %}
        <p>
          {{ weapon.Description }}
        </p>
        {% if weapon['Mixed Success Damage'] %}
          <ul>
            <li>
              Mixed Success Damage: {{ weapon['Mixed Success Damage'] }}
            </li>
            <li>
              Success Damage: {{ weapon['Success Damage'] }}
            </li>
            <li>
              Critical Success Damage: {{ weapon['Critical Success Damage'] }}
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
