---
title: Awaiting Login Confirmation
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Awaiting Login Confirmation
  </h2>

  <p>
    Please check your email for a login link. If you want to be logged in on
    this device, make sure that you click the link on this device.
  </p>
  <p>
    You may close this tab. There's nothing left to be done here.
  </p>
</div>
