---
layout: layouts/base.njk
pagination:
  data: archetypes
  size: 1
  alias: archetype
permalink: archetypes/test/{{ archetype.permalink }}/index.html
renderData:
  title: "{{ archetype.name }}"
---

<div class="stack">
  <h2>
    Explorer Archetypes
  </h2>
  <ul>
    {% for archetype in archetypes %}
      <li>
        <a href="/archetypes/test/{{ archetype.permalink }}">
          {{ archetype.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h3>
    {{ archetype.name }}
  </h3>
  <p class="font-style:italic">
    {{ archetype.description }}
  </p>
  <p>
    To make your {{ archetype.shorthand }}, first pick a name, gender/pronouns,
    age, and a general look. Then follow the instructions below to decide your
    ratings, moves, and gear. Finally, introduce yourself and pick history. You
    can build your own dossier if you have a lot of custom rules, or you can
    print the standard version and fill in the blanks.
  </p>

  <div>
    <a href="/dossiers/{{ archetype.permalink }}.pdf" download="{{ archetype.permalink }}.pdf">
      {{ archetype.name }} Dossier (PDF)
    </a>
  </div>

  <h4>
    Ratings
  </h4>
  <p>
    You have 5 boosts and 2 penalties that you must assign to your ratings, each
    of which starts at 0. The maximum for any rating when making your explorer
    is +2, and the minimum is -1.
  </p>

  <ul>
    <li>
      Charm
    </li>
    <li>
      Cool
    </li>
    <li>
      Sharp
    </li>
    <li>
      Tough
    </li>
    <li>
      Technobabble
    </li>
  </ul>

  <h4>
    Moves
  </h4>
  <p class="font-style:italic">
    You get all the basic moves, plus three {{ archetype.shorthand }} moves.
  </p>
  <p class="font-style:italic">
    Pick three of these:
  </p>

  <ul>
    {% for move in archetype.moves %}
      <li>
        <strong>{{ move.name }}</strong>: {{ move.description }}
      </li>
    {% endfor %}
  </ul>

  <h4>
    Gear
  </h4>
  <p class="font-style:italic">
    You get a standard issue sidearm: 9mm handgun (2 harm, close, loud, reload).
    Then you may pick a serious weapon and either armor or special equipment.
  </p>
  <p class="font-style:italic">
    Serious weapons (pick one):
  </p>

  <ul>
    {% for weapon in archetype.weapons %}
      <li>
        {{ weapon.name }} ({{ weapon.tags.join(', ') }})
      </li>
    {% endfor %}
  </ul>

  <p class="font-style:italic">
    Armor and special equipment (pick one):
  </p>

  <ul>
    {% for item in archetype.items %}
      <li>
        {{ item.name }} ({{ item.tags.join(', ') }})
      </li>
    {% endfor %}
  </ul>

  <h4>
    Introductions
  </h4>
  <p>
    When you get here, wait for everyone else to catch up so you can do your
    introductions together.
  </p>
  <p>
    Go around the group. On your turn, introduce your Alien by name and look,
    and tell the group what they know about you.
  </p>

  <h4>
    History
  </h4>
  <p>
    Go around the group again. When it's your turn, pick one of each for the
    other explorers.
  </p>

  <ul>
    {% for history in archetype.histories %}
      <li>
        {{ history }}
      </li>
    {% endfor %}
  </ul>

  <h4>
    Luck
  </h4>
  <p>
    You can spend a point of Luck to either reduce any harm dealt to you to 0,
    or to change a roll to 12. Once all seven Luck boxes are marked, you are out
    of Luck.
  </p>

  <h4>
    Harm
  </h4>
  <p>
    When you suffer harm, mark the number of boxes equal to harm suffered. If you
    reach more than 4 harm, you become Unstable and your wounds will worsen until
    treated.
  </p>

  <h4>
    Leveling up
  </h4>
  <p>
    Whenever you roll a 6 or lower, or a move tells you to do so, mark an
    experience box. Once you've marked all five boxes, you level up. Erase the
    marks and pick an improvement from the following lists.
  </p>

  <h5>
    Improvements
  </h5>
  <p>
    Each improvement may only be taken once. Mark it off when you take it.
  </p>

  <ul>
    {% for improvement in archetype.improvements %}
      <li>
        {{ improvement }}
      </li>
    {% endfor %}
  </ul>

  <h5>
    Advanced Improvements
  </h5>
  <p>
    Once you have leveled up 5 times, you may pick options from the Advanced
    Improvements list.
  </p>

  <ul>
    {% for improvement in archetype.advancedImprovements %}
      <li>
        {{ improvement }}
      </li>
    {% endfor %}
  </ul>
</div>
