---
title: Explorer Archetypes
layout: layouts/base.njk
---

<div class="stack">
  <h2>
    Explorer Archetypes
  </h2>
  <p>
    There are a handful of explorer archetypes that players can choose to play
    as, although the options are not limited to this list. If you have an
    awesome concept that you want to play with, work with your Keeper to design
    stats, moves, and gear that make sense for your game.
  </p>

  {% for archetype in archetypes %}
    <div>
      <h3>
        <a href="/archetypes/{{ archetype.permalink }}">
          {{ archetype.name }}
        </a>
      </h3>
      <p>
        {{ archetype.description }}
      </p>
    </div>
  {% endfor %}
</div>
