---
title: Explorer Archetypes
layout: layouts/base.njk
---

<div class="stack">
  <h2>
    Explorer Archetypes
  </h2>
  <p>
    There are a handful of explorer archetypes that players can choose to play
    as, although the options are not limited to this list. If you have an
    awesome concept that you want to play with, work with your Keeper to design
    stats, moves, and gear that make sense for your game.
  </p>

  <div>
    <h3>
      <a href="/archetypes/the-scholar">
        The Scholar
      </a>
    </h3>
    <p>
      You've studied ancient civilizations, religions, languages, and cultures
      for your whole professional career. You were made for first contact
      situations, and you can understand ruins, artifacts, and customs more
      quickly than anybody.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-scientist">
        The Scientist
      </a>
    </h3>
    <p>
      You're an expert in math, physics, chemistry, and biology. If anybody can
      reverse engineer advanced technologies, it's you. If there's a weird
      phenomenon that can be explained through scientific reasoning, you can
      figure it out faster than most.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-operative">
        The Operative
      </a>
    </h3>
    <p>
      You've got special forces training. You live in a morally gray world where
      you've done some terrible things for the benefit of your homeland. You are
      among the world's most skilled in stealth, explosives, and espionage.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-muscle">
        The Muscle
      </a>
    </h3>
    <p>
      You're extremely tough. You are lethal with your fists, either from
      extensive martial arts training, or just a rough upbringing. You heal
      quicker than most, and you're very well suited for dangerous missions and
      protecting innocents from harm.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-diplomat">
        The Diplomat
      </a>
    </h3>
    <p>
      Not every mission has to end with gunfire or a high speed getaway. You
      use your charm and your tact to defuse tense situations, win people over,
      and maintain relationships with your allies. You're a great negotiator,
      and you know how to get what you need through conversation.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-colonel">
        The Colonel
      </a>
    </h3>
    <p>
      You've got natural leadership abilities, and years of experience in the
      field. People tend to respect your authority, and your tactical instincts
      are very well honed. You can handle yourself in a fight, but you use your
      wits to avoid violence when possible.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-medic">
        The Medic
      </a>
    </h3>
    <p>
      Look, people are gonna get hurt. You may not be able to prevent it from
      happening, but you can do your best to patch them up when it does. You
      have decades of experience with traumatic injuries, and you are as
      prepared as anybody could possibly be for treating diseases caused by
      alien pathogens.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-alien">
        The Alien
      </a>
    </h3>
    <p>
      You're not from around here. For your own reasons, you've found common
      cause with the explorers from this world, and you will use your unique
      skills and physiology to help with their missions. Your knowledge of
      interstellar power dynamics is an invaluable asset to your team.
    </p>
  </div>

  <div>
    <h3>
      <a href="/archetypes/the-fish-out-of-water">
        The Fish Out of Water
      </a>
    </h3>
    <p>
      You don't belong here. You may have passed the training, but you suspect
      there was some sort of mistake because you are so clearly not suited for
      this. You have some sort of expertise that is useful, but it doesn't
      justify your presence in an elite exploration team representing your
      planet.
    </p>
  </div>
</div>
