---
title: The Fish Out of Water
layout: layouts/base.njk
---

<div class="stack">
  <div>
    <a href="/archetypes">
      Archetypes
    </a>
  </div>
  <h2>
    The Fish Out of Water
  </h2>
  <p>
    You don't belong here. You may have passed the training, but you suspect
    there was some sort of mistake because you are so clearly not suited for
    this. You have some sort of expertise that is useful, but it doesn't
    justify your presence in an elite exploration team representing your
    planet.
  </p>
</div>
