---
title: The Alien
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Alien
  </h3>
  <p>
    You're not from around here. For your own reasons, you've found common
    cause with the explorers from this world, and you will use your unique
    skills and physiology to help with their missions. Your knowledge of
    interstellar power dynamics is an invaluable asset to your team.
  </p>
</div>
