---
title: The Alien
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Alien
  </h3>
  <p class="font-style:italic">
    You're not from around here. For your own reasons, you've found common
    cause with the explorers from this world, and you will use your unique
    skills and physiology to help with their missions. Your knowledge of
    interstellar power dynamics is an invaluable asset to your team.
  </p>
  <p>
    To make your Alien, first pick a name, gender/pronouns, age, and a general
    look. Then follow the instructions below to decide your ratings, moves, and
    gear. Finally, introduce yourself and pick history. You can build your own
    dossier if you have a lot of custom rules, or you can print the standard
    version and fill in the blanks.
  </p>

  <div>
    <a href="/dossiers/the-alien.pdf" download="the-alien.pdf">
      The Alien Dossier (PDF)
    </a>
  </div>

  {% include "dossier/ratings.njk" %}

  <h4>
    Moves
  </h4>
  <p class="font-style:italic">
    You get all the basic moves, plus three Alien moves.
  </p>
  <p class="font-style:italic">
    Pick three of these:
  </p>
  <ul>
    <li>
      <strong>Carapace</strong>: You have a hard exoskeleton that acts as
      natural body armor. You always count as having 2 armor (this doesn't stack
      with other armor)
    </li>
    <li>
      <strong>Interstellar traveler</strong>: You've been just about everywhere
      and know a little about most places you go (+1 to investigate)
    </li>
    <li>
      <strong>Regenerative healing</strong>: You heal faster than humans.
      Healing actions restore 1 more harm than normal, and first aid counts as
      treatment for Unstable wounds
    </li>
    <li>
      <strong>Megamind</strong>: Your vast intellect allows you to learn quickly
      and improvise with technology easily (+1 reverse the polarity)
    </li>
    <li>
      <strong>Charismatic megafauna</strong>: You're incredibly cute and look as
      harmless as could be (+1 manipulate someone)
    </li>
    <li>
      <strong>Cybernetically enhanced</strong>: You're part machine, augmenting
      your natural abilities or replacing damaged parts of your body (+1 act
      under pressure, kick some ass)
    </li>
    <li>
      <strong>Enhanced senses</strong>: Your senses are much more honed than
      humans, due to your physiology (+1 read a bad situation)
    </li>
  </ul>

  <h4>
    Gear
  </h4>
  <p class="font-style:italic">
    You get a standard issue sidearm: 9mm handgun (2 harm, close, loud). Then
    you may pick a serious weapon and either armor or special equipment.
  </p>
  <p class="font-style:italic">
    Serious weapons (pick one):
  </p>
  <ul>
    <li>
      Claws, spines, or fangs (1 harm, hand, messy)
    </li>
    <li>
      Energy sword (2 harm, close, energy, quick)
    </li>
    <li>
      Energy rifle (3 harm, far, energy, slow)
    </li>
    <li>
      Staff weapon (2 harm, close, balanced)
    </li>
    <li>
      Stun gun (1 harm, close, quick, stun)
    </li>
  </ul>
  <p class="font-style:italic">
    Armor and special equipment (pick one):
  </p>
  <ul>
    <li>
      Flak jacket (2 armor, heavy)
    </li>
    <li>
      Protective vest (1 armor, light)
    </li>
    <li>
      Long range communicators (send messages across vast distances)
    </li>
    <li>
      Cloaking device (appear invisible while stationary, can be detected while
      moving)
    </li>
    <li>
      Force shield (put up a barrier that can absorb 3 harm before deactivating)
    </li>
  </ul>

  <h4>
    Introductions
  </h4>
  <p>
    When you get here, wait for everyone else to catch up so you can do your
    introductions together.
  </p>
  <p>
    Go around the group. On your turn, introduce your Alien by name and look,
    and tell the group what they know about you.
  </p>

  <h4>
    History
  </h4>
  <p>
    Go around the group again. When it's your turn, pick one of each for the
    other explorers.
  </p>
  <ul>
    <li>
      This explorer is the one who convinced you to join their cause
    </li>
    <li>
      This explorer saved your life, and you owe them a great debt
    </li>
    <li>
      This explorer is teaching you about the ways of their people
    </li>
    <li>
      This explorer is working with you on reverse engineering your people's
      technology
    </li>
    <li>
      This explorer doesn't trust you, and they probably won't until you can
      demonstrate your loyalty
    </li>
    <li>
      This explorer is fascinated by your biology, and constantly asks to study
      you
    </li>
    <li>
      This explorer knows about your past, and is keeping a secret for you
    </li>
    <li>
      This explorer has problems deferring to your expertise on missions
    </li>
    <li>
      This explorer just can't pronounce or spell your name, no matter how hard
      they try
    </li>
  </ul>

  <h4>
    Luck
  </h4>
  <p>
    You can spend a point of Luck to either reduce any harm dealt to you to 0,
    or to change a roll to 12. Once all seven Luck boxes are marked, you are out
    of Luck.
  </p>

  {% include "dossier/harm-and-experience.njk" %}

  <h5>
    Improvements
  </h5>
  <p>
    Each improvement may only be taken once. Mark it off when you take it.
  </p>
  <ul>
    <li>
      Get +1 Cool (max +2)
    </li>
    <li>
      Get +1 Charm (max +2)
    </li>
    <li>
      Get +1 Sharp (max +2)
    </li>
    <li>
      Get +1 Tough (max +2)
    </li>
    <li>
      Get +1 Technobabble (max +2)
    </li>
    <li>
      Take another Alien move
    </li>
    <li>
      Take another Alien move
    </li>
    <li>
      Gain an ally from your home world
    </li>
    <li>
      Take a move from another archetype
    </li>
    <li>
      Take a move from another archetype
    </li>
  </ul>

  <h5>
    Advanced Improvements
  </h5>
  <p>
    Once you have leveled up 5 times, you may pick options from the Advanced
    Improvements list.
  </p>
  <ul>
    <li>
      Get +1 to any rating (max +3)
    </li>
    <li>
      Get back one used Luck point
    </li>
    <li>
      Change this explorer to a new type
    </li>
    <li>
      Create a second explorer to play in addition to this one
    </li>
    <li>
      Mark two of the basic moves as advanced
    </li>
    <li>
      Mark another two of the basic moves as advanced
    </li>
    <li>
      Retire this explorer
    </li>
  </ul>
</div>
