---
title: The Colonel
layout: layouts/base.njk
---

<div class="stack">
  <div>
    <a href="/archetypes">
      Archetypes
    </a>
  </div>
  <h2>
    The Colonel
  </h2>
  <p>
    You've got natural leadership abilities, and years of experience in the
    field. People tend to respect your authority, and your tactical instincts
    are very well honed. You can handle yourself in a fight, but you use your
    wits to avoid violence when possible.
</div>
