---
title: The Fish Out of Water
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Fish Out of Water
  </h3>
  <p class="font-style:italic">
    You don't belong here. You may have passed the training, but you suspect
    there was some sort of mistake because you are so clearly not suited for
    this. You have some sort of expertise that is useful, but it doesn't
    justify your presence in an elite exploration team representing your
    planet.
  </p>
  <p>
    To make your Fish Out of Water, first pick a name, gender/pronouns, age, and a general
    look. Then follow the instructions below to decide your ratings, moves, and
    gear. Finally, introduce yourself and pick history.
  </p>
  {% include "dossier/ratings.njk" %}

  <h4>
    Moves
  </h4>
  <p class="font-style:italic">
    You get all the basic moves, plus three Fish Out of Water moves.
  </p>
  <p class="font-style:italic">
    Pick three of these:
  </p>
  <ul>
    <li>
      <strong>Lucky bastard</strong>: You regain a Luck point every time you
      get 10+ on a roll
    </li>
    <li>
      <strong>Pitiful</strong>: Bad guys feel bad attacking you, so they prefer
      to target your allies instead
    </li>
    <li>
      <strong>Is this important?</strong> When other explorers are
      investigating, you stumble into something important, but misidentify it
    </li>
    <li>
      <strong>Behind you!</strong> When an ally is protecting you, you help them
      by calling out the locations of bad guys (+1 help out while being
      protected)
    </li>
    <li>
      <strong>I've got a bad feeling about this</strong>: Mark experience any
      time you get 10+ on read a bad situation rolls
    </li>
    <li>
      <strong>Time to shine</strong>: Whenever you are separated from the group,
      you get +1 to all rolls
    </li>
    <li>
      <strong>Underdog</strong>: Once per mission, get an automatic 12 on a kick
      some ass roll
    </li>
  </ul>

  <h4>
    Gear
  </h4>
  <p class="font-style:italic">
    You get a standard issue sidearm: 9mm handgun (2 harm, close, loud). Then
    you may pick a serious weapon and either armor or special equipment.
  </p>
  <p class="font-style:italic">
    Serious weapons (pick one):
  </p>
  <ul>
    <li>
      Stun gun (1 harm, close, stun)
    </li>
    <li>
      Net launcher (1 harm, close, restraining)
    </li>
    <li>
      Pocket knife (1 harm, intimate, innocuous)
    </li>
    <li>
      Walking stick (1 harm, close, balance, useful)
    </li>
    <li>
      Pepper spray (1 harm, close, stun)
    </li>
  </ul>
  <p class="font-style:italic">
    Armor and special equipment (pick one):
  </p>
  <ul>
    <li>
      Flak jacket (2 armor, heavy)
    </li>
    <li>
      Protective vest (1 armor, light)
    </li>
    <li>
      Camouflage (hide in the woods if things get too real)
    </li>
    <li>
      Camera (document things that you discover)
    </li>
    <li>
      Orthopedic shoes (+1 act under pressure when fleeing)
    </li>
  </ul>

  <h4>
    Introductions
  </h4>
  <p>
    When you get here, wait for everyone else to catch up so you can do your
    introductions together.
  </p>
  <p>
    Go around the group. On your turn, introduce your Fish Out of Water by name and look,
    and tell the group what they know about you.
  </p>

  <h4>
    History
  </h4>
  <p>
    Go around the group again. When it's your turn, pick one of each for the
    other explorers.
  </p>
  <ul>
    <li>
      This explorer recommended you for this job
    </li>
    <li>
      This explorer fought extremely hard to prevent you from getting this job
    </li>
    <li>
      This explorer has saved your life too many times to count
    </li>
    <li>
      This explorer is desperately trying to train you to be good at fighting
    </li>
    <li>
      This explorer has way too much faith in your abilities
    </li>
    <li>
      This explorer begrudgingly watches your back because the paperwork would
      be a pain in the ass if you died
    </li>
    <li>
      You practically worship this explorer, and you wish you could be more like
      them
    </li>
    <li>
      You somehow managed to save this explorer's life
    </li>
    <li>
      You made a terrible mistake that almost got this explorer killed
    </li>
  </ul>

  <h4>
    Luck
  </h4>
  <p>
    You can spend a point of Luck to either reduce any harm dealt to you to 0,
    or to change a roll to 12. Once all seven Luck boxes are marked, you are out
    of Luck.
  </p>

  {% include "dossier/harm-and-experience.njk" %}

  <h5>
    Improvements
  </h5>
  <p>
    Each improvement may only be taken once. Mark it off when you take it.
  </p>
  <ul>
    <li>
      Get +1 Technobabble (max +3)
    </li>
    <li>
      Get +1 Charm (max +2)
    </li>
    <li>
      Get +1 Sharp (max +2)
    </li>
    <li>
      Take another Fish Out of Water move
    </li>
    <li>
      Take another Fish Out of Water move
    </li>
    <li>
      Gain an ally
    </li>
    <li>
      Take a move from another archetype
    </li>
    <li>
      Take a move from another archetype
    </li>
  </ul>

  <h5>
    Advanced Improvements
  </h5>
  <p>
    Once you have leveled up 5 times, you may pick options from the Advanced
    Improvements list.
  </p>
  <ul>
    <li>
      Get +1 to any rating (max +3)
    </li>
    <li>
      Get back one used Luck point
    </li>
    <li>
      Change this explorer to a new type
    </li>
    <li>
      Create a second explorer to play in addition to this one
    </li>
    <li>
      Mark two of the basic moves as advanced
    </li>
    <li>
      Mark another two of the basic moves as advanced
    </li>
    <li>
      Retire this explorer
    </li>
  </ul>
</div>
