---
title: The Operative
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Operative
  </h3>
  <p class="font-style:italic">
    You've got special forces training. You live in a morally gray world where
    you've done some terrible things for the benefit of your homeland. You are
    among the world's most skilled in stealth, explosives, and espionage.
  </p>
  <p>
    To make your Operative, first pick a name, gender/pronouns, age, and a general
    look. Then follow the instructions below to decide your ratings, moves, and
    gear. Finally, introduce yourself and pick history.
  </p>
  {% include "dossier/ratings.njk" %}

  <h4>
    Moves
  </h4>
  <p class="font-style:italic">
    You get all the basic moves, plus three Operative moves.
  </p>
  <p class="font-style:italic">
    Pick three of these:
  </p>
  <ul>
    <li>
      <strong>Shadow in the night</strong>: You are incredibly stealthy,
      especially during the night (automatic 10 on act under pressure rolls when
      sneaking at night)
    </li>
    <li>
      <strong>Army of one</strong>: When you are alone, you deal twice as much
      harm as normal when kicking ass
    </li>
    <li>
      <strong>Explosives expert</strong>: If there's a way for an explosion to
      help, you'll find it (+1 to all rolls when using explosives)
    </li>
    <li>
      <strong>Intelligence gatherer</strong>: You know how to get the
      information you need (+1 investigate, read a bad situation)
    </li>
    <li>
      <strong>Level headed</strong>: You've been trained to keep calm in even
      the most stressful situations (+1 act under pressure)
    </li>
    <li>
      <strong>The best defense</strong>: You deal 1 harm to the enemy while
      protecting someone
    </li>
    <li>
      <strong>Interrogation tactics</strong>: You can get people to cooperate
      when you have them in your custody (+1 manipulate someone)
    </li>
  </ul>

  <h4>
    Gear
  </h4>
  <p class="font-style:italic">
    You get a standard issue sidearm: 9mm handgun (2 harm, close, loud). Then
    you may pick a serious weapon and either armor or special equipment.
  </p>
  <p class="font-style:italic">
    Serious weapons (pick one):
  </p>
  <ul>
    <li>
      Submachine gun (3 harm, close, area, loud, reload)
    </li>
    <li>
      Assault rifle (3 harm, far, area, loud, reload)
    </li>
    <li>
      Grenades (2 harm, close, area, loud, many)
    </li>
    <li>
      Sniper rifle (4 harm, far, slow, reload)
    </li>
    <li>
      Tactical knife (1 harm, hand, quick)
    </li>
  </ul>
  <p class="font-style:italic">
    Armor and special equipment (pick one):
  </p>
  <ul>
    <li>
      Flak jacket (2 armor, heavy)
    </li>
    <li>
      Protective vest (1 armor, light)
    </li>
    <li>
      Night vision goggles (+1 investigate, read a bad situation in the dark)
    </li>
    <li>
      Binoculars (+1 investigate, read a bad situation at a distance)
    </li>
    <li>
      Plastic explosives (plant, then detonate from a safe distance)
    </li>
  </ul>

  <h4>
    Introductions
  </h4>
  <p>
    When you get here, wait for everyone else to catch up so you can do your
    introductions together.
  </p>
  <p>
    Go around the group. On your turn, introduce your Operative by name and look,
    and tell the group what they know about you.
  </p>

  <h4>
    History
  </h4>
  <p>
    Go around the group again. When it's your turn, pick one of each for the
    other exporers.
  </p>
  <ul>
    <li>
      This explorer trained under you a long time ago
    </li>
    <li>
      This explorer disapproves of your methods
    </li>
    <li>
      You saved this explorer's life
    </li>
    <li>
      Someone this explorer cared for died as collateral damage from one of your
      operations
    </li>
    <li>
      This explorer has a tendency to ruin your plans
    </li>
    <li>
      This explorer is afraid of you
    </li>
    <li>
      This explorer is weirdly more violent than you are
    </li>
    <li>
      This explorer slows you down
    </li>
  </ul>

  <h4>
    Luck
  </h4>
  <p>
    You can spend a point of Luck to either reduce any harm dealt to you to 0,
    or to change a roll to 12. Once all seven Luck boxes are marked, you are out
    of Luck.
  </p>

  {% include "dossier/harm-and-experience.njk" %}

  <h5>
    Improvements
  </h5>
  <p>
    Each improvement may only be taken once. Mark it off when you take it.
  </p>
  <ul>
    <li>
      Get +1 Cool (max +3)
    </li>
    <li>
      Get +1 Charm (max +2)
    </li>
    <li>
      Get +1 Sharp (max +2)
    </li>
    <li>
      Get +1 Tough (max +2)
    </li>
    <li>
      Take another Operative move
    </li>
    <li>
      Take another Operative move
    </li>
    <li>
      Gain an ally
    </li>
    <li>
      Take a move from another archetype
    </li>
    <li>
      Take a move from another archetype
    </li>
  </ul>

  <h5>
    Advanced Improvements
  </h5>
  <p>
    Once you have leveled up 5 times, you may pick options from the Advanced
    Improvements list.
  </p>
  <ul>
    <li>
      Get +1 to any rating (max +3)
    </li>
    <li>
      Get back one used Luck point
    </li>
    <li>
      Change this explorer to a new type
    </li>
    <li>
      Create a second explorer to play in addition to this one
    </li>
    <li>
      Mark two of the basic moves as advanced
    </li>
    <li>
      Mark another two of the basic moves as advanced
    </li>
    <li>
      Retire this explorer
    </li>
  </ul>
</div>
