---
title: The Operative
layout: layouts/base.njk
---

<div class="stack">
  <div>
    <a href="/archetypes">
      Archetypes
    </a>
  </div>
  <h2>
    The Operative
  </h2>
  <p>
    You've got special forces training. You live in a morally gray world where
    you've done some terrible things for the benefit of your homeland. You are
    among the world's most skilled in stealth, explosives, and espionage.
  </p>
</div>
