---
title: The Scientist
layout: layouts/base.njk
---

<div class="stack">
  <div>
    <a href="/archetypes">
      Archetypes
    </a>
  </div>
  <h2>
    The Scientist
  </h2>
  <p>
    You're an expert in math, physics, chemistry, and biology. If anybody can
    reverse engineer advanced technologies, it's you. If there's a weird
    phenomenon that can be explained through scientific reasoning, you can
    figure it out faster than most.
  </p>
</div>
