---
title: The Muscle
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Muscle
  </h3>
  <p>
    You're extremely tough. You are lethal with your fists, either from
    extensive martial arts training, or just a rough upbringing. You heal
    quicker than most, and you're very well suited for dangerous missions and
    protecting innocents from harm.
  </p>
</div>
