---
title: The Colonel
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Colonel
  </h3>
  <p class="font-style:italic">
    You've got natural leadership abilities, and years of experience in the
    field. People tend to respect your authority, and your tactical instincts
    are very well honed. You can handle yourself in a fight, but you use your
    wits to avoid violence when possible.
  </p>
  <p>
    To make your Colonel, first pick a name, gender/pronouns, age, and a general
    look. Then follow the instructions below to decide your ratings, moves, and
    gear. Finally, introduce yourself and pick history.
  </p>
  {% include "dossier/ratings.njk" %}

  <h4>
    Moves
  </h4>
  <p class="font-style:italic">
    You get all the basic moves, plus three Colonel moves.
  </p>
  <p class="font-style:italic">
    Pick three of these:
  </p>
  <ul>
    <li>
      <strong>Cover fire</strong>: When you protect someone, you don't take any
      harm on a success. On 10+, you deal 1 harm to the enemy
    </li>
    <li>
      <strong>Pull rank</strong>: Others respect your authority, and are more
      likely to do what you say (+1 manipulate someone)
    </li>
    <li>
      <strong>Combat tactics</strong>: Take 1 less harm than usual when you kick
      some ass
    </li>
    <li>
      <strong>Weapons training</strong>: You can carry one more serious weapon
      than normal
    </li>
    <li>
      <strong>Situational awareness</strong>: You're training has honed your
      senses to potential danger (+1 read a bad situation)
    </li>
    <li>
      <strong>Seasoned professional</strong>: Take +1 cool (max +3)
    </li>
    <li>
      <strong>Natural leader</strong>: Your leadership ability helps your team
      perform up to their potential (+1 help out)
    </li>
  </ul>

  <h4>
    Gear
  </h4>
  <p class="font-style:italic">
    You get a standard issue sidearm: 9mm handgun (2 harm, close, loud). Then
    you may pick a serious weapon and either armor or special equipment.
  </p>
  <p class="font-style:italic">
    Serious weapons (pick one):
  </p>
  <ul>
    <li>
      Submachine gun (3 harm, close, area, loud, reload)
    </li>
    <li>
      Assault rifle (3 harm, far, area, loud, reload)
    </li>
    <li>
      Grenades (2 harm, close, area, loud, many)
    </li>
    <li>
      Sniper rifle (4 harm, far, slow, reload)
    </li>
    <li>
      Tactical knife (1 harm, hand, quick)
    </li>
  </ul>
  <p class="font-style:italic">
    Armor and special equipment (pick one):
  </p>
  <ul>
    <li>
      Flak jacket (2 armor, heavy)
    </li>
    <li>
      Protective vest (1 armor, light)
    </li>
    <li>
      Night vision goggles (+1 investigate, read a bad situation in the dark)
    </li>
    <li>
      Binoculars (+1 investigate, read a bad situation at a distance)
    </li>
    <li>
      Plastic explosives (plant, then detonate from a safe distance)
    </li>
  </ul>

  <h4>
    Introductions
  </h4>
  <p>
    When you get here, wait for everyone else to catch up so you can do your
    introductions together.
  </p>
  <p>
    Go around the group. On your turn, introduce your Colonel by name and look,
    and tell the group what they know about you.
  </p>

  <h4>
    History
  </h4>
  <p>
    Go around the group again. When it's your turn, pick one of each for the
    other exporers.
  </p>
  <ul>
    <li>
      This explorer trained under you a long time ago
    </li>
    <li>
      This explorer questions your leadership whenever hard choices need to be
      made
    </li>
    <li>
      You saved this explorer's life
    </li>
    <li>
      You made a decision that led to the death of someone this explorer cared
      for
    </li>
    <li>
      This explorer has a tendency to not follow your orders
    </li>
    <li>
      This explorer outranks you
    </li>
    <li>
      This explorer considers you a mentor and looks up to you
    </li>
    <li>
      This explorer thinks you're unqualified for your job
    </li>
    <li>
      This explorer is inexperienced with violence, and needs to be babysat
      during combat
    </li>
  </ul>

  <h4>
    Luck
  </h4>
  <p>
    You can spend a point of Luck to either reduce any harm dealt to you to 0,
    or to change a roll to 12. Once all seven Luck boxes are marked, you are out
    of Luck.
  </p>

  {% include "dossier/harm-and-experience.njk" %}

  <h5>
    Improvements
  </h5>
  <p>
    Each improvement may only be taken once. Mark it off when you take it.
  </p>
  <ul>
    <li>
      Get +1 Cool (max +3)
    </li>
    <li>
      Get +1 Charm (max +2)
    </li>
    <li>
      Get +1 Sharp (max +2)
    </li>
    <li>
      Get +1 Tough (max +2)
    </li>
    <li>
      Take another Colonel move
    </li>
    <li>
      Take another Colonel move
    </li>
    <li>
      Gain a team for backup and support
    </li>
    <li>
      Take a move from another archetype
    </li>
    <li>
      Take a move from another archetype
    </li>
  </ul>

  <h5>
    Advanced Improvements
  </h5>
  <p>
    Once you have leveled up 5 times, you may pick options from the Advanced
    Improvements list.
  </p>
  <ul>
    <li>
      Get +1 to any rating (+3 max)
    </li>
    <li>
      Get back one used Luck point
    </li>
    <li>
      Change this explorer to a new type
    </li>
    <li>
      Create a second explorer to play in addition to this one
    </li>
    <li>
      Mark two of the basic moves as advanced
    </li>
    <li>
      Mark another two of the basic moves as advanced
    </li>
    <li>
      Retire this explorer
    </li>
  </ul>
</div>
