---
title: The Medic
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Medic
  </h3>
  <p>
    Look, people are gonna get hurt. You may not be able to prevent it from
    happening, but you can do your best to patch them up when it does. You
    have decades of experience with traumatic injuries, and you are as
    prepared as anybody could possibly be for treating diseases caused by
    alien pathogens.
  </p>
</div>
