---
title: The Muscle
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Muscle
  </h3>
  <p class="font-style:italic">
    You're extremely tough. You are lethal with your fists, either from
    extensive martial arts training, or just a rough upbringing. You heal
    quicker than most, and you're very well suited for dangerous missions and
    protecting innocents from harm.
  </p>
  <p>
    To make your Muscle, first pick a name, gender/pronouns, age, and a general
    look. Then follow the instructions below to decide your ratings, moves, and
    gear. Finally, introduce yourself and pick history.
  </p>
  {% include "dossier/ratings.njk" %}

  <h4>
    Moves
  </h4>
  <p class="font-style:italic">
    You get all the basic moves, plus three Muscle moves.
  </p>
  <p class="font-style:italic">
    Pick three of these:
  </p>
  <ul>
    <li>
      <strong>Forceful presence</strong>: You're so intimidating that others
      will do what you say to avoid whatever it is they think you'll do to them
      (+1 manipulate someone)
    </li>
    <li>
      <strong>Meat shield</strong>: You take 1 less harm when protecting someone
      by getting between them and their attacker
    </li>
    <li>
      <strong>Fists of steel</strong>: You deal 1 harm and get a bonus to
      unarmed attacks (+1 kick some ass)
    </li>
    <li>
      <strong>Dual wielding</strong>: You get an extra serious weapon, and you
      can either attack multiple targets at once, or deal harm from both weapons
      to the same target
    </li>
    <li>
      <strong>Teddy bear</strong>: You're not as mean as you look, and your
      allies can always count on you in a pinch (+1 help out)
    </li>
    <li>
      <strong>Surge of adrenaline</strong>: You can use superhuman strength or
      speed in moments of grave peril (+1 act under pressure)
    </li>
    <li>
      <strong>Battle sense</strong>: You've been in enough fights to see how
      they're going to go (+1 read a bad situation)
    </li>
  </ul>

  <h4>
    Gear
  </h4>
  <p class="font-style:italic">
    You get a standard issue sidearm: 9mm handgun (2 harm, close, loud). Then
    you may pick a serious weapon and either armor or special equipment.
  </p>
  <p class="font-style:italic">
    Serious weapons (pick one):
  </p>
  <ul>
    <li>
      Shotgun (3 harm, close, loud, reload)
    </li>
    <li>
      Submachine gun (3 harm, close, area, loud, reload)
    </li>
    <li>
      Grenades (2 harm, close, area, loud, many)
    </li>
    <li>
      Brass knuckles (2 harm, hand, quick)
    </li>
    <li>
      Throwing knives (2 harm, close, quick, many)
    </li>
  </ul>
  <p class="font-style:italic">
    Armor and special equipment (pick one):
  </p>
  <ul>
    <li>
      Flak jacket (2 armor, heavy)
    </li>
    <li>
      Protective vest (1 armor, light)
    </li>
    <li>
      Extra rations (heal 1 more harm than normal from rest)
    </li>
  </ul>

  <h4>
    Introductions
  </h4>
  <p>
    When you get here, wait for everyone else to catch up so you can do your
    introductions together.
  </p>
  <p>
    Go around the group. On your turn, introduce your Muscle by name and look,
    and tell the group what they know about you.
  </p>

  <h4>
    History
  </h4>
  <p>
    Go around the group again. When it's your turn, pick one of each for the
    other explorers.
  </p>
  <ul>
    <li>
      You've done jobs with this explorer before
    </li>
    <li>
      This explorer knows about your past, and is keeping a secret for you
    </li>
    <li>
      You've had to rough this explorer up in the past
    </li>
    <li>
      You trained with this explorer
    </li>
    <li>
      You saved this explorer's life
    </li>
    <li>
      You regularly train in some sort of martial arts with this explorer
    </li>
    <li>
      This explorer is afraid of you
    </li>
    <li>
      This explorer is constantly trying to feel your muscles
    </li>
    <li>
      This explorer doesn't fully trust you
    </li>
  </ul>

  <h4>
    Luck
  </h4>
  <p>
    You can spend a point of Luck to either reduce any harm dealt to you to 0,
    or to change a roll to 12. Once all seven Luck boxes are marked, you are out
    of Luck.
  </p>

  {% include "dossier/harm-and-experience.njk" %}

  <h5>
    Improvements
  </h5>
  <p>
    Each improvement may only be taken once. Mark it off when you take it.
  </p>
  <ul>
    <li>
      Get +1 Tough (max +3)
    </li>
    <li>
      Get +1 Cool (max +2)
    </li>
    <li>
      Get +1 Charm (max +2)
    </li>
    <li>
      Take another Muscle move
    </li>
    <li>
      Take another Muscle move
    </li>
    <li>
      Gain an ally
    </li>
    <li>
      Take a move from another archetype
    </li>
    <li>
      Take a move from another archetype
    </li>
  </ul>

  <h5>
    Advanced Improvements
  </h5>
  <p>
    Once you have leveled up 5 times, you may pick options from the Advanced
    Improvements list.
  </p>
  <ul>
    <li>
      Get +1 to any rating (max +3)
    </li>
    <li>
      Get back one used Luck point
    </li>
    <li>
      Change this explorer to a new type
    </li>
    <li>
      Create a second explorer to play in addition to this one
    </li>
    <li>
      Mark two of the basic moves as advanced
    </li>
    <li>
      Mark another two of the basic moves as advanced
    </li>
    <li>
      Retire this explorer
    </li>
  </ul>
</div>
