---
title: The Scholar
layout: layouts/base.njk
---

<div class="stack">
  <div>
    <a href="/archetypes">
      Archetypes
    </a>
  </div>
  <h2>
    The Scholar
  </h2>
  <p>
    You've studied ancient civilizations, religions, languages, and cultures
    for your whole professional career. You were made for first contact
    situations, and you can understand ruins, artifacts, and customs more
    quickly than anybody.
  </p>
</div>
