---
title: The Colonel
layout: layouts/base.njk
---

<div class="stack">
  {% include "archetypes-nav.njk" %}
  <h3>
    The Colonel
  </h3>
  <p>
    You've got natural leadership abilities, and years of experience in the
    field. People tend to respect your authority, and your tactical instincts
    are very well honed. You can handle yourself in a fight, but you use your
    wits to avoid violence when possible.
</div>
