---
layout: layouts/base.njk
pagination:
  data: classes
  size: 1
  alias: class
permalink: classes/{{ class.slug }}/index.html
renderData:
  title: "{{ class.Name }}"
---

<div class="stack">
  <h2>Classes</h2>
  <ul>
    {% for class in classes %}
      <li>
        <a href="/classes/{{ class.slug }}">
          {{ class.Name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h3>
    {{ class.Name }}
  </h3>
  <p>
    {{ class.Description }}
  </p>
  <ul>
    <li>
      Primary Stat: {{ class['Primary Stat'] }}
    </li>
    <li>
      Secondary Stat: {{ class['Secondary Stat'] }}
    </li>
    <li>
      Penalty Stat: {{ class['Penalty'] }}
    </li>
  </ul>

  <h4>Subclasses</h4>
  <p>
    Choose a subclass for your character. Each subclass grants different
    abilities restrictions, or mechanics that will affect your playstyle. Here
    are the options for the {{ class.shorthand }} class.
  </p>

  {% for subclass in class.subclasses %}
    <h5>
      {{ subclass.Name }}
    </h5>
    <p>
      {{ subclass.Description }}
    </p>
  {% endfor %}
</div>
