---
title: Home
layout: layouts/base.njk
---

<div class="stack">
  <h2>
    Make your mark on the galaxy
  </h2>
  <p>
    An ancient device has been discovered buried under the ruins of an ancient
    civilization. After decades of scientific experiments and a little trial and
    error, it is discovered that it has the ability to connect wormholes to
    identical devices throughout the galaxy. It's like a gate between stars, or
    a... space door, if you will.
  </p>
  <p>
    Your government has kept this device secret and has assembled elite teams to
    explore newly discovered planets. These teams are responsible for gaining
    allies, gathering resources and advanced technologies, and guarding against
    threats from all corners of the galaxy.
  </p>
  <p>
    Spacedoor is a standalone sci-fi action adventure RPG for 3-5 people. Take
    down hostile aliens as a military strike force, study cultures and societies
    as a group of diplomats and scholars, come to a deeper understanding of
    the universe, or do some light colonialism.
  </p>
  <p>
    Everything you need to know to play the game can be found on this site.
  </p>
  <ul>
    <li>
      <a href="/how-to-play">How to Play</a>
    </li>
    <li>
      <a href="/archetypes">Explorer Archetypes</a>
    </li>
    <li>
      <a href="/keeper-info">Keeper Info</a>
    </li>
  </ul>
</div>
