---
title: Keeper Info
layout: layouts/base.njk
---

<div class="stack">
  {% include "keeper-info-nav.njk" %}
  <h3>
    Overview
  </h3>
  <p>
    Your job as the Keeper is very different from the explorers. You will be
    responsible for creating the scenarios that the explorers will navigate,
    describe the environment, portray people and aliens that the explorers
    interact with, and decide how the world reacts to the explorers' actions.
  </p>

  <h4>
    Playing the game
  </h4>
  <p>
    There is no script. As the Keeper, you should have enough details at the
    ready to make the world feel lived in, but it's up to the explorers to
    decide what to do and where to go. Your main job is to respect the players'
    choices and react to them in ways that are consistent with the world that
    you've built.
  </p>
  <p>
    As you keep playing, backstory, worldbuilding, and mythology will develop
    naturally, and you can choose elements to weave back into the story. Listen
    to the players – their actions will let you know what they're
    interested in. When you know what the explorers care about, you can use that
    to reward successful rolls or punish failed rolls.
  </p>

  <h4>
    Don't plan ahead
  </h4>
  <p>
    The explorers are responsible for what happens to them, not you. You will
    create the scenarios, and they should be detailed to the point that you know
    what would happen if the explorers never showed up. Once the explorers show
    up, everything is fair game, and their choices are what matters most.
  </p>
  <p>
    You want to plan <em>just enough</em> to be able to react to the explorers
    in a believable way. You can plant people, ruins, artifacts, or weapons for
    the explorers to find, but you have to be okay with letting them go if the
    explorers never find them, or decide to attack rather than help. You are
    only creating <em>possible</em> outcomes, not definite ones.
  </p>
</div>
