---
title: Randomizing Scenarios
layout: layouts/base.njk
---

<div class="stack">
  {% include "keeper-info-nav.njk" %}
  <h3>
    Randomizing scenarios
  </h3>
  <p>
    If you want to come up with scenarios all on your own, you're totally free
    to do that, but with a little randomness, you can generate a framework that
    may inspire scenarios.
  </p>
  <p>
    This system uses 6 sided dice to choose values for 4 different aspects of a
    world or environment that your explorers will navigate through. Roll a dice
    for each aspect, then use the results to determine what kind of world it
    will be. What sort of problems or objectives might naturally result from
    this sort of world? Use this as a starting point for developing the basic
    concept for the scenario.
  </p>

  <h4>
    Life
  </h4>
  <p>
    This determines the sort of life forms and societies that your explorers
    will encounter.
  </p>
  <ul>
    <li>
      1: no intelligent life
    </li>
    <li>
      2: primitive society (hunter-gatherers)
    </li>
    <li>
      3: classical/medieval society (low technology)
    </li>
    <li>
      4: renaissance/industrial society (medium technology)
    </li>
    <li>
      5: modern society (roughly the same level as Earth)
    </li>
    <li>
      6: advanced society (advanced well beyond Earth)
    </li>
  </ul>

  <h4>
    Temperament
  </h4>
  <p>
    This determines how the local populations will react to meeting your
    explorers
  </p>
  <ul>
    <li>
      1: Hostile (they will attack with little provocation)
    </li>
    <li>
      2: Fearful (they will attack or hide when threatened)
    </li>
    <li>
      3: Guarded (they don't immediately trust strangers)
    </li>
    <li>
      4: Ambivalent (it's not a big deal when strangers show up)
    </li>
    <li>
      5: Hospitable (their culture treats guests well)
    </li>
    <li>
      6: Friendly (a stranger's just a friend you haven't met yet)
    </li>
  </ul>

  <h4>
    Alien Influence
  </h4>
  <p>
    This determines what level of contact this world has with the wider network
    of worlds throughout the galaxy.
  </p>
  <ul>
    <li>
      1: No alien influence (as far as they knew, they were alone in the universe)
    </li>
    <li>
      2: Ancient influence (there are alien ruins and artifacts from long ago)
    </li>
    <li>
      3: Weak influence (aliens may visit occasionally for good or bad reasons)
    </li>
    <li>
      4: Strong influence (aliens have an light presence here, and may be visited
      by larger forces on occasion)
    </li>
    <li>
      5: Active presence (there are active conquests or infrastructure projects
      underway by aliens)
    </li>
    <li>
      6: Home world (this is where alien societies or armies live, full-time)
    </li>
  </ul>

  <h4>
    Resources
  </h4>
  <p>
    This will describe the level of useful resources that can be found on this
    world.
  </p>
  <ul>
    <li>
      1: Barren (nothing useful here)
    </li>
    <li>
      2: Earth-like (access to the same sort of stuff that Earth has)
    </li>
    <li>
      3: Some rare materials (trace amounts)
    </li>
    <li>
      4: Detectable rare materials (hard to extract)
    </li>
    <li>
      5: Prevalent rare materials (mining is practical)
    </li>
    <li>
      6: Abundant rare materials (it's just lying around on the ground)
    </li>
  </ul>

  <h3>
    Example scenario using random values
  </h3>
  <p>
    Let's walk through the process of coming up with a scenario using random
    values. First, we'll roll a 6 sided die 4 times.
  </p>
  <ul>
    <li>
      The first roll is a 3: classical/medieval society
    </li>
    <li>
      The second roll is a 2: fearful
    </li>
    <li>
      The third roll is a 2: ancient influence
    </li>
    <li>
      The fourth roll is a 4: detectable rare materials
    </li>
  </ul>

  <p>
    Given the information from the rolls, we can start to build out the basic
    concept of the scenario. We have a fearful, low-technology society that is
    built on top of ancient alien ruins. There are some rare materials here,
    which might be worthwhile to your explorers.
  </p>
  <p>
    Asking yourself questions may help clarify why this world is the way that it
    is. Why are these people so fearful? What are they afraid of? To what extent
    does the ancient influence inform their society? Are the rare materials used
    in their society, either as decoration or as a component in their weapons?
    What sort of people or aliens live here?
  </p>
  <p>
    Now you can start to create the hook for your explorers. Maybe you decided
    that the rare materials are being collected by the society, so it could be
    worthwhile for your explorers to set up a trade alliance in exchange for
    protection from whatever is threatening their way of life.
  </p>
  <p>
    You still haven't defined what exactly the threat is, but you might have a
    loose idea that there are hostile life-forms threatening their village, or
    that geological activity keeps destroying their structures. Depending on
    what your explorers investigate, it might become clear during gameplay what
    would be most interesting to your players.
  </p>
  <p>
    Now you should have enough to go on to start playing, and from this point
    you will mostly be reacting to what the explorers choose to do. It's a good
    idea to write down the results from the roll, so you can use it as a
    touchstone and keep the world grounded in that reality, but you are free to
    deviate it from it as much or as little as you like.
  </p>
</div>
