---
title: Starting a Game
layout: layouts/base.njk
---

<div class="stack">
  {% include "keeper-info-nav.njk" %}
  <h3>
    Starting a game
  </h3>
  <p>
    Before you start the first session, there are some things you'll want to do
    as a Keeper.
  </p>
  <ul>
    <li>
      Think about the style and tone of the game
    </li>
    <li>
      Get into the Keeper mindset
    </li>
    <li>
      Create a scenario for the explorers to navigate
    </li>
  </ul>

  <h4>
    Style and tone
  </h4>
  <p>
    Do you want to play a fun sci-fi action adventure game where the bad guys
    twirl their moustaches and the good guys always win? Or do you want a
    gritty, hard sci-fi survival game where consequences are lethal, and getting
    out of a jam requires great sacrifice? Talk to your players and see what
    they're most interested in, and whether there are any topics that should be
    considered out of bounds.
  </p>
  <p>
    Watch or read stories that fit the tone of your game to get a feel for the
    style of it. These can be great sources of inspiration, but be careful not
    to create anything too close that the explorers will recognize and be able
    to hack the solution for.
  </p>

  <h4>
    Get into the Keeper mindset
  </h4>
  <p>
    Here are some best practices for Keepers, modified from Monster of the Week,
    and Apocalypse World RPG. Keep these things in mind, and you'll be fine.
  </p>

  <h5>
    The Keeper Agenda
  </h5>
  <ul>
    <li>
      Make the world seem real
    </li>
    <li>
      Play to see what happens
    </li>
    <li>
      Challenge the explorers (don't make it too easy)
    </li>
  </ul>

  <h5>
    The Keeper Principles
  </h5>
  <ul>
    <li>
      Not every planet will be Earth-like, not every alien species will be
      humanoid
    </li>
    <li>
      Address yourself to the explorers, not the players
    </li>
    <li>
      Use the Keeper moves, never use their names
    </li>
    <li>
      Be a fan of the explorers
    </li>
    <li>
      Build up a coherent mythology of the world as you play
    </li>
    <li>
      Nothing is safe. Anyone can die, and any mission can fail
    </li>
    <li>
      Name everyone the explorers meet, and make them seem like real people
    </li>
    <li>
      Ask questions and build on the answers
    </li>
    <li>
      Sometimes give the explorers exactly what they've earned, rather than what
      they wanted
    </li>
    <li>
      Think about what's happening off-screen
    </li>
    <li>
      You don't always have to decide what happens
    </li>
    <li>
      Anything can advance the plot
    </li>
  </ul>

  <h4>
    Creating your first scenario
  </h4>
  <p>
    The first scenario of the game can be the most planned out, since you may
    have a specific starting point in mind, or you'll want explorers to meet
    each other organically, rather than going around player by player.
  </p>
  <p>
    The term "scenario" is intentionally broad because this is a game with
    limitless possibilities in an infinite universe. Each scenario should have
    some of the following common elements, but the rest is totally up to you.
  </p>
  <ul>
    <li>
      A basic concept for the scenario
    </li>
    <li>
      A hook, or objective, that the explorers want to achieve at the beginning
      of the scenario
    </li>
    <li>
      Obstacles between explorers and the goal
    </li>
    <li>
      People, aliens, or creatures that inhabit the world that the explorers may
      encounter
    </li>
    <li>
      A ticking clock to inject some urgency into the story
    </li>
  </ul>
</div>
