<h4>
  Harm
</h4>
<p>
  When you suffer harm, mark the number of boxes equal to harm suffered. If you
  reach more than 4 harm, you become Unstable and your wounds will worsen until
  treated.
</p>

<h4>
  Leveling up
</h4>
<p>
  Whenever you roll a 6 or lower, or a move tells you to do so, mark an
  experience box. Once you've marked all five boxes, you level up. Erase the
  marks and pick an improvement from the following lists.
</p>
