<h4>
  Ratings
</h4>
<p>
  You have 5 boosts and 2 penalties that you must assign to your ratings, each
  of which starts at 0. The maximum for any rating when making your explorer
  is +2, and the minimum is -1.
</p>
<ul>
  <li>
    Charm
  </li>
  <li>
    Cool
  </li>
  <li>
    Sharp
  </li>
  <li>
    Tough
  </li>
  <li>
    Technobabble
  </li>
</ul>
