---
title: Dice Roller
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Add Character
  </h2>
  <p>
    Start by choosing your character's name, race, and class.
  </p>
  <form id="addCharacterForm" class="stack">
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" name="name" autocapitalize="on" autofill="false" autocomplete="off" style="max-width: 30ch" required>
    </div>
    <div>
      <fieldset>
        <legend>
          Race
        </legend>
        <div class="stack" style="--stack-space: 0.5rem">
          {% for race in races %}
            <div>
              <input id="{{ race.Name }}" type="radio" name="race" value="{{ race.Name }}" required>
              <label for="{{ race.Name }}">
                {{ race.Name }}
              </label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <legend>
          Class
        </legend>
        <div class="stack" style="--stack-space: 0.5rem">
          {% for class in classes %}
            <div>
              <input id="{{ class.Name }}" type="radio" name="class" value="{{ class.Name }}" required>
              <label for="{{ class.Name }}">
                {{ class.Name }}
              </label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
  </form>
</div>
