---
title: Character Sheets
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Character Sheets
  </h2>
  <p>
    You can create your own character sheets with pen and paper, or you can
    manage your characters through the site. For pen and paper, make sure you
    have spaces for your character's name, race, class, subclass, stats,
    experience, luck points, health, stamina, and feats. Feats will take up the
    most space, especially if you write down the full description, and you'll be
    adding to them over time, so ideally that will be the last thing on your
    sheet.
  </p>

  <div>
    <a href="/character-sheets/add-character">
      Add Character
    </a>
  </div>

  <h3>
    Your Characters
  </h3>
  <p data-no-characters hidden>
    You haven't added any characters yet. When you do, they'll show up both here
    and in the main navigation of the site.
  </p>
  <ul class="stack list-style:none" data-character-list></ul>
</div>

<script type="module">
  import { getAllFromDb } from '/scripts/db.mjs';

  const initialize = async () => {
    let characters = [];
    try {
      characters = await getAllFromDb('characters');
    } catch (error) {
      console.error(error);
    }

    if (!characters.length) {
      const noCharactersMessage = document.querySelector('[data-no-characters]');
      noCharactersMessage.removeAttribute('hidden');
    }

    const navElement = document.querySelector('[data-character-list]');
    characters.forEach((character) => {
      const li = document.createElement('li');
      li.innerHTML = `<a href="/character-sheets/character?key=${character.key}">${character.name}</a>`;
      navElement.appendChild(li);
    });
  };

  initialize();
</script>
