---
title: Select Feats
layout: layouts/sidebar.njk
---

<div class="stack margin-block-end:3rem">
  <h2>
    Select Feats
    <span data-character-name></span>
  </h2>
  <p>
    These are all the feats that you should be able to take, given your race,
    class, and level. If you take a generalist feat that gives you access to
    other class feats, you can toggle those to appear as well.
  </p>
  <p data-initial-description>
    As a level 1 character, you start with one feat. Choose one and then you'll
    be able to view your full character sheet.
  </p>
  <div>
    <label class="custom-checkbox">
      <input id="toggleClassFeats" type="checkbox">
      {% include "checkbox-svg.njk" %}
      <span>Show All Class Feats</span>
    </label>
  </div>
  {% for feat in allFeats %}
    <div data-feat data-id="{{ feat.id }}" data-race="{{ feat.race }}" data-feat-class="{{ feat.class }}" data-level="{{ feat.Level }}" hidden>
      <div class="stack" style="--stack-space: 0.5rem">
        <label class="custom-checkbox">
          <input id="feat-{{ feat.id }}" type="checkbox" name="feats" value="{{ feat.id }}" data-name="{{ feat.Name }}">
          {% include "checkbox-svg.njk" %}
          <span>
            {{ feat.Name }}
          </span>
        </label>
        <p class="small indented">
          Level {{ feat.Level }}, {{ feat.type }}
        </p>
        <p class="indented">
          {{ feat.Description }}
        </p>
      </div>
    </div>
  {% endfor %}
  <div data-back-link></div>
</div>

<script>
  if (document.referrer.includes('/character-sheets/character') || document.referrer.includes('/character-sheets/edit-health-stamina')) {
    const initialDescription = document.querySelectorAll('[data-initial-description]');
    initialDescription.forEach((node) => {
      node.setAttribute('hidden', true);
    });
  }
</script>
<script type="module">
  import { getFromDb, addToDb } from '/scripts/db.mjs';

  let character;
  let hasChosenFeat = false;
  const getCharacter = async () => {
    const urlParams = new URLSearchParams(window.location.search);
    const key = urlParams.has('key') && urlParams.get('key');

    if (!key) {
      return;
    }

    character = await getFromDb('characters', key);

    const heading = document.querySelector('[data-character-name]');
    heading.innerHTML = `– ${character.name}`;
    document.title = `Select Feats – ${character.name} | Spacedoor`;

    const featElements = document.querySelectorAll('[data-feat]');
    featElements.forEach((feat) => {
      const { id, race, featClass, level } = feat.dataset;
      if (character.feats?.includes(id)) {
        feat.removeAttribute('hidden');
        const featCheckbox = feat.querySelector('input[type="checkbox"]');
        featCheckbox.checked = true;
        return;
      }

      if (race && race !== character.race) {
        return;
      }

      if (featClass && !featClass.includes(character.class)) {
        return;
      }

      if (character.level < Number(level)) {
        return;
      }

      feat.removeAttribute('hidden');
    });
  };

  const updateCharacter = async (character) => {
    try {
      await addToDb('characters', character);
    } catch (error) {
      console.error(error);
    }
  };

  document.addEventListener('change', (event) => {
    if (event.target.matches('#toggleClassFeats')) {
      const featElements = document.querySelectorAll('[data-feat]');
      featElements.forEach((feat) => {
        const { id, race, featClass, level } = feat.dataset;
        if (character.feats?.includes(id)) {
          feat.removeAttribute('hidden');
          const featCheckbox = feat.querySelector('input[type="checkbox"]');
          featCheckbox.checked = true;
          return;
        }

        if (race && race !== character.race) {
          return;
        }

        if (!event.target.checked) {
          if (featClass && !featClass.includes(character.class)) {
            feat.setAttribute('hidden', '');
            return;
          }
        }

        if (character.level < Number(level)) {
          return;
        }

        feat.removeAttribute('hidden');
      });
    }

    if (event.target.matches('[name="feats"]')) {
      if (event.target.checked) {
        if (!character.feats) {
          character.feats = [event.target.value];
        } else {
          character.feats.push(event.target.value);
        }
      } else {
        const index = character.feats.findIndex(feat => feat === event.target.value);
        character.feats.splice(index, 1);
      }

      const name = event.target.dataset.name;
      const isTaken = !event.target.checked;
      if (name === 'Charm Boost' || name === 'Expert Charm') {
        if (isTaken) {
          character.charm -= 1;
        } else {
          character.charm += 1;
        }
      }

      if (name === 'Cool Boost' || name === 'Expert Cool') {
        if (isTaken) {
          character.cool -= 1;
        } else {
          character.cool += 1;
        }
      }

      if (name === 'Sharp Boost' || name === 'Expert Sharp') {
        if (isTaken) {
          character.sharp -= 1;
        } else {
          character.sharp += 1;
        }
      }

      if (name === 'Tough Boost' || name === 'Expert Tough') {
        if (isTaken) {
          character.tough -= 1;
        } else {
          character.tough += 1;
        }
      }

      if (name === 'Technobabble Boost' || name === 'Expert Technobabble') {
        if (isTaken) {
          character.technobabble -= 1;
        } else {
          character.technobabble += 1;
        }
      }

      if (name === 'Lucky Break') {
        if (isTaken) {
          character.luck -= 1;
        } else {
          character.luck += 1;
        }
      }

      updateCharacter(character);
    }
  });

  document.addEventListener('item-added', () => {
    if (!hasChosenFeat) {
      hasChosenFeat = true;
      const backLinkTemplate = `
        <a href="/character-sheets/character?key=${character.key}" class="button fixed-block-inline-end">
          Go to Character Sheet
        </a>
      `;
      const backLinkWrapper = document.querySelector('[data-back-link]');
      backLinkWrapper.innerHTML = backLinkTemplate;
    }

    getCharacter();
  });

  getCharacter();
</script>
