---
title: Select Subclass
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Select Subclass
    <span data-character-name></span>
  </h2>

  <form id="selectSubclassForm" class="stack">
    {% for class in classes %}
      <fieldset data-class="{{ class.Name }}" hidden>
        <legend>
          {{ class.Name }} Subclass
        </legend>
        <div class="stack">
          {% for subclass in class.subclasses %}
            <div>
              <label class="custom-checkbox">
                <input id="{{ subclass.Name }}" type="radio" name="subclass" value="{{ subclass.Name }}" required>
                {% include "radio-svg.njk" %}
                <span>
                  {{ subclass.Name }}
                </span>
              </label>
              <p class="small indented">
                {{ subclass.Description }}
              </p>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    {% endfor %}
    <div>
      <button type="submit" data-submit-button>
        Save and Continue
      </button>
    </div>
  </form>
</div>

<script type="module">
  import { getFromDb, addToDb } from '/scripts/db.mjs';

  let character;
  const getCharacter = async () => {
    const urlParams = new URLSearchParams(window.location.search);
    const key = urlParams.has('key') && urlParams.get('key');

    if (!key) {
      window.location.href = '/character-sheets/add-character';
    }

    character = await getFromDb('characters', key);
    const fieldset = document.querySelector(`[data-class="${character.class}"]`);
    fieldset.removeAttribute('hidden');
    const heading = document.querySelector('[data-character-name]');
    document.title = `Select Subclass – ${character.name} | Spacedoor`;
    heading.innerHTML = `– ${character.name}`;
    if (document.referrer.includes('/character-sheets/character')) {
      const radioButton = document.querySelector(`input[value="${character.subclass}"]`);
      radioButton.checked = true;
      const submitButton = document.querySelector('[data-submit-button]');
      submitButton.innerHTML = 'Save Changes';
    }
  };

  const updateCharacter = async (character) => {
    try {
      await addToDb('characters', character);
    } catch (error) {
      console.error(error);
    }
  };

  document.addEventListener('submit', (event) => {
    event.preventDefault();
    if (event.target.matches('#selectSubclassForm')) {
      if (!character || !character.key) {
        return;
      }

      character.subclass = event.target.elements.subclass.value;
      updateCharacter(character);
    }
  });

  document.addEventListener('item-added', (event) => {
    const key = event.detail;
    if (document.referrer.includes('/character-sheets/character')) {
      window.location.href = `/character-sheets/character?key=${key}`;
    } else {
      window.location.href = `/character-sheets/finalize-stats?key=${key}`;
    }
  });

  getCharacter();

  document.addEventListener('user-logged-in', getCharacter);
</script>
