---
title: Select Class
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Select Class
    <span data-character-name></span>
  </h2>
  <form id="selectClassForm" class="stack">
    <div>
      <fieldset>
        <legend>
          Class
        </legend>
        <div class="stack">
          {% for class in classes %}
            <div>
              <label class="custom-checkbox">
                <input id="{{ class.Name }}" type="radio" name="class" value="{{ class.Name }}" required>
                {% include "radio-svg.njk" %}
                <span>
                  {{ class.Name }}
                </span>
              </label>
              <ul class="margin-block:0">
                <li class="small">
                  Primary Stat: {{ class['Primary Stat'] }}
                </li>
                <li class="small">
                  Secondary Stat: {{ class['Secondary Stat'] }}
                </li>
                <li class="small">
                  Penalty Stat: {{ class.Penalty }}
                </li>
                <li class="small list-style:none">
                <a href="/classes/{{ class.slug }}">Details</a>
                </li>
              </ul>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
    <div>
      <button type="submit" data-submit-button>
        Save and Continue
      </button>
    </div>
  </form>
</div>

<script type="module">
  import { getFromDb, addToDb } from '/scripts/db.mjs';

  let character;
  const getCharacter = async () => {
    const urlParams = new URLSearchParams(window.location.search);
    const key = urlParams.has('key') && urlParams.get('key');

    if (!key) {
      window.location.href = '/character-sheets/add-character';
    }

    character = await getFromDb('characters', key);
    const heading = document.querySelector('[data-character-name]');
    heading.innerHTML = `– ${character.name}`;
    if (document.referrer.includes('/character-sheets/character')) {
      const radioButton = document.querySelector(`input[value="${character.class}"]`);
      radioButton.checked = true;
      const submitButton = document.querySelector('[data-submit-button]');
      submitButton.innerHTML = 'Save Changes';
    }
  };

  const updateCharacter = async (character) => {
    try {
      await addToDb('characters', character);
    } catch (error) {
      console.error(error);
    }
  };

  document.addEventListener('submit', (event) => {
    event.preventDefault();
    if (event.target.matches('#selectClassForm')) {
      if (!character || !character.key) {
        return;
      }

      character.class = event.target.elements.class.value;
      updateCharacter(character);
    }
  });

  document.addEventListener('item-added', (event) => {
    const key = event.detail;
    if (document.referrer.includes('/character-sheets/character')) {
      window.location.href = `/character-sheets/character?key=${key}`;
    } else {
      window.location.href = `/character-sheets/select-subclass?key=${key}`;
    }
  });

  getCharacter();
</script>
