---
title: Select Race
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Select Race
    <span data-character-name></span>
  </h2>
  <form id="selectRaceForm" class="stack">
    <div>
      <fieldset>
        <legend>
          Race
        </legend>
        <div class="stack">
          {% for race in races %}
            <div>
              <input id="{{ race.Name }}" type="radio" name="race" value="{{ race.Name }}" required>
              <label for="{{ race.Name }}">
                {{ race.Name }}
                <br>
                <small>
                  {{ race.Description }}
                </small>
              </label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
    <div>
      <button type="submit">
        Save and Continue
      </button>
    </div>
  </form>
</div>

<script type="module">
  import { getFromDb, addToDb } from '/scripts/db.mjs';

  let character;
  const getCharacter = async () => {
    const urlParams = new URLSearchParams(window.location.search);
    const key = urlParams.has('key') && urlParams.get('key');

    if (!key) {
      window.location.href = '/character-sheets/add-character';
    }

    character = await getFromDb('characters', key);
    const heading = document.querySelector('[data-character-name]');
    heading.innerHTML = `– ${character.name}`;
  };

  const updateCharacter = async (character) => {
    try {
      await addToDb('characters', character);
    } catch (error) {
      console.error(error);
    }
  };

  document.addEventListener('submit', (event) => {
    event.preventDefault();
    if (event.target.matches('#selectRaceForm')) {
      if (!character || !character.key) {
        return;
      }

      character.race = event.target.elements.race.value;
      updateCharacter(character);
    }
  });

  document.addEventListener('item-added', (event) => {
    const key = event.detail;
    window.location.href = `/character-sheets/select-class?key=${key}`;
  });

  getCharacter();
</script>
