---
title: Account
layout: layouts/sidebar.njk
---

<div class="stack">
  <h2>
    Account
  </h2>

  <div class="stack" data-not-signed-in>
    <p>
      Wait a second while we check if you're signed in.
    </p>
    <p>
      If you are not signed in, you may do so on the
      <a href="/login">login page</a>.
    </p>
  </div>
  <div class="stack" data-is-signed-in hidden>
    <div data-signed-in-as></div>

    <div>
      <button type="button" data-log-out>
        Log Out
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('user-logged-in', ({ detail }) => {
    const signedInAs = document.querySelector('[data-signed-in-as]');
    signedInAs.innerHTML = `
      <p>
        Signed in as ${detail.email}.
      </p>
    `;

    const isSignedInBlock = document.querySelector('[data-is-signed-in]');
    const notSignedInBlock = document.querySelector('[data-not-signed-in]');
    isSignedInBlock.removeAttribute('hidden');
    notSignedInBlock.setAttribute('hidden', true);
  });

  document.addEventListener('click', (event) => {
    if (event.target.matches('[data-log-out]')) {
      firebase.auth().signOut()
        .then(() => {
          window.location.href = '/';
        })
        .catch(console.error);
    }
  });
</script>
